<a href="https://colab.research.google.com/github/mimiflynn/covid-data/blob/master/covid-tracking-project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# https://covidtracking.com/api

In [0]:
from datetime import datetime
from datetime import timedelta
import matplotlib.pyplot as plt
import requests as request
import pandas as pd
import numpy as np

In [0]:
current_states = request.get('https://covidtracking.com/api/v1/states/current.json')

In [0]:
us = pd.DataFrame.from_dict(current_states.json())

In [4]:
us

   state  ...                                      hash
0     AK  ...  e823271b095661adc50e7f229d7492a3df2ea389
1     AL  ...  c6b996ec01be6ed66115dababc8b7533d6d3f1d1
2     AR  ...  92f9b435057216bbade1752a1365c195323d6c83
3     AZ  ...  6c432f1410ee0235b5dcdaaec6f15b865d0b0c6d
4     CA  ...  6a93111739f0c66fd386c8935f8f58f873bfc5ee
5     CO  ...  b969dfa5019d8c93e5fb057857f263e0e7275eab
6     CT  ...  7ccdbcab173e962a8e2e57e8e685f3f164db2979
7     DC  ...  fbc4e2068ea9a9d8ac59b7eceeae5ff394dc84a7
8     DE  ...  4e2172f02539c889852774367e64deb600212a2a
9     FL  ...  5d40bcf763633c8e3cf5e48d943b693272a6f9cb
10    GA  ...  21e4f342816fa4f88c45fb326a64edf53182f15e
11    HI  ...  8b1f9dc69e78ae55a0545134223488bd3f062a26
12    IA  ...  c735d098712ecef84f04f2bda220029aebe5e000
13    ID  ...  a56391ce1535c72dce4efe27bbae24be2824aafb
14    IL  ...  f37a614164d1ba42b313f79f4170388a48746805
15    IN  ...  b2a85f090219fc35d6ca4ee20fdbd6684bc32902
16    KS  ...  cc9d270fc1c3ad4515e25a50445e00290b78b5d2
17    KY  ...  ed31dba0ec019bee281283867fb87ec7cc56627d
18    LA  ...  1de04b1d8f6350a96c8522e6c8a604f86eba0809
19    MA  ...  b3ba22e676b58c6d179c8a7391cbe58407f2bfdd
20    MD  ...  c29039d735f0e45938e2d4dceef81b53f499617f
21    ME  ...  ce7922f1c25002aeca0a272d7317a2942a530831
22    MI  ...  0093bd923700ab0d0b1f5079e5a17c5a916bf98d
23    MN  ...  b459f82546070bbdf1e0e4bb236437d15b3932c8
24    MO  ...  cf931e18bfa910e0602ca6181e5e55fd5988bbcd
25    MS  ...  791fa2577ff11f721946971600a6fab16620e13f
26    MT  ...  9d112d921790531e3f37b457e99c282ef257a807
27    NC  ...  b81dd7a6210d9c46d8619f4867f1159d31d41f88
28    ND  ...  a248ac37269d2bf04868aa8ad1ffcc7f6538b370
29    NE  ...  99ddd6430efa876e629492fe04ae194e377ef2a8
30    NH  ...  904128977001516ec5fcfd75037ca0bc9d39cc14
31    NJ  ...  9244a60010ebaa52f97db5450178056828c09cde
32    NM  ...  a3906a5c7136fa757b6d5818be419687f214ac3c
33    NV  ...  e6de88bf75700292795cd68d63107e56febd0701
34    NY  ...  e4fe896742e1dc62680dd73e47bf8ca7997f8783
35    OH  ...  62abc2fc51ac92417b500515604f9ba8ee76e5ac
36    OK  ...  f058b13dc31e030df4e25e8c75559f231749d3cf
37    OR  ...  2718e2059d21b8d699848f486bb61109d07e9bf2
38    PA  ...  af4951932ca7ec76100c21c6a976d069b5def3a4
39    RI  ...  389e7e9a9094998c624b92a588c26bea50001fcd
40    SC  ...  8ec44d41d2634f0df320722b7a311c3c519f412a
41    SD  ...  c7685e3094ae37e231f76f2e08108aeed3f3f3a4
42    TN  ...  841a8c5fa00e4208f4a2ad3b2966d1d4c4be2ff5
43    TX  ...  941f79d8b0c797998bd3aca78cd2ba91ce2206be
44    UT  ...  dcba6598c8d096dce957faf937d5cd2f0ea4bf5a
45    VA  ...  c43aac17e6ccec4ced530a2e4dcfda5c90d1bbbd
46    VT  ...  95eee0b8f7e52af7d63438fe93704987ae1ef0ab
47    WA  ...  07c2e36b8987afd6d1689d21389cb838365fece8
48    WI  ...  ed3914682ccb1917f96a0d1d8e720c44edb846fe
49    WV  ...  4724c46516d6599fd5e94f8ac2c74037521efad9
50    WY  ...  fac5c3cdedb9c4562be4d7bf8b80318997f648a3
51    PR  ...  8a30f6806dc33192242123919a6b5deb572d2ab9
52    AS  ...  492c614a5b1291d87ae3de3ffb35288eb67bccce
53    GU  ...  196eadcd720b9ba3a1c27ef2d096f2e688327120
54    MP  ...  bb24456e91cc175ea9fe77cfc72c5b0db07c4dc9
55    VI  ...  c960995657ce12099a5b460f7e46fc563676bcf1

[56 rows x 29 columns]