<a href="https://colab.research.google.com/github/mimiflynn/covid-jhu-csse/blob/master/covid_jhu_csse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# !apt-get -qq install python-cartopy python3-cartopy

In [0]:
# import cartopy.crs as ccrs
import matplotlib.pyplot as plt
import requests as request
import pandas as pd
import numpy as np

In [3]:
# show api endpoints
r = request.get('https://covid19.mathdro.id/api')
r.json()

{'confirmed': {'detail': 'https://covid19.mathdro.id/api/confirmed',
  'value': 407485},
 'countries': 'https://covid19.mathdro.id/api/countries',
 'countryDetail': {'example': 'https://covid19.mathdro.id/api/countries/USA',
  'pattern': 'https://covid19.mathdro.id/api/countries/[country]'},
 'dailySummary': 'https://covid19.mathdro.id/api/daily',
 'dailyTimeSeries': {'example': 'https://covid19.mathdro.id/api/daily/2-14-2020',
  'pattern': 'https://covid19.mathdro.id/api/daily/[dateString]'},
 'deaths': {'detail': 'https://covid19.mathdro.id/api/deaths', 'value': 18225},
 'image': 'https://covid19.mathdro.id/api/og',
 'lastUpdate': '2020-03-24T17:14:14.000Z',
 'recovered': {'detail': 'https://covid19.mathdro.id/api/recovered',
  'value': 104234},
 'source': 'https://github.com/mathdroid/covid19'}

In [4]:
r = request.get('https://covid19.mathdro.id/api/daily/3-23-2020')
j = r.json()
df = pd.DataFrame.from_dict(j)
df

       fips     admin2  ... active                    combinedKey
0     45001  Abbeville  ...      0  Abbeville, South Carolina, US
1     22001     Acadia  ...      0          Acadia, Louisiana, US
2     51001   Accomack  ...      0         Accomack, Virginia, US
3     16001        Ada  ...      0                 Ada, Idaho, US
4     19001      Adair  ...      0                Adair, Iowa, US
...     ...        ...  ...    ...                            ...
3410                    ...     46                     Uzbekistan
3411                    ...     62                      Venezuela
3412                    ...    106                        Vietnam
3413                    ...      3                         Zambia
3414                    ...      2                       Zimbabwe

[3415 rows x 12 columns]

In [5]:
# get all confirmed cases
r = request.get('https://covid19.mathdro.id/api/confirmed')
j = r.json()
df = pd.DataFrame.from_dict(j)
df

     provinceState countryRegion     lastUpdate  ...  peopleTested  iso2  iso3
0             None         Italy  1585069822000  ...          None    IT   ITA
1            Hubei         China  1585054977000  ...          None    CN   CHN
2             None         Spain  1585069822000  ...          None    ES   ESP
3             None       Germany  1585069822000  ...          None    DE   DEU
4             None          Iran  1585069822000  ...          None    IR   IRN
...            ...           ...            ...  ...           ...   ...   ...
1538      Illinois            US  1585069835000  ...          None    US   USA
1539          Iowa            US  1585069835000  ...          None    US   USA
1540     Wisconsin            US  1585069835000  ...          None    US   USA
1541      Arkansas            US  1585069835000  ...          None    US   USA
1542      Colorado            US  1585069835000  ...          None    US   USA

[1543 rows x 16 columns]

In [6]:
# get all US confirmed cases
r = request.get('https://covid19.mathdro.id/api/countries/USA/confirmed')
j = r.json()
us = pd.DataFrame.from_dict(j)
us

     provinceState countryRegion     lastUpdate  ...  peopleTested  iso2  iso3
0         New York            US  1585065857000  ...          None    US   USA
1         New York            US  1585065857000  ...          None    US   USA
2         New York            US  1585065857000  ...          None    US   USA
3         New York            US  1585065857000  ...          None    US   USA
4         New York            US  1585065857000  ...          None    US   USA
...            ...           ...            ...  ...           ...   ...   ...
1288          Iowa            US  1585065857000  ...          None    US   USA
1289     Wisconsin            US  1585065857000  ...          None    US   USA
1290      Arkansas            US  1585065857000  ...          None    US   USA
1291   Mississippi            US  1585065857000  ...          None    US   USA
1292      Colorado            US  1585065857000  ...          None    US   USA

[1293 rows x 16 columns]

In [7]:
# return only New York state
ny = us.loc[us['provinceState'] == 'New York']
ny

     provinceState countryRegion     lastUpdate  ...  peopleTested  iso2  iso3
0         New York            US  1585065857000  ...          None    US   USA
1         New York            US  1585065857000  ...          None    US   USA
2         New York            US  1585065857000  ...          None    US   USA
3         New York            US  1585065857000  ...          None    US   USA
4         New York            US  1585065857000  ...          None    US   USA
9         New York            US  1585065857000  ...          None    US   USA
14        New York            US  1585065857000  ...          None    US   USA
46        New York            US  1585065857000  ...          None    US   USA
55        New York            US  1585065857000  ...          None    US   USA
56        New York            US  1585065857000  ...          None    US   USA
58        New York            US  1585065857000  ...          None    US   USA
100       New York            US  1585065857000  ...          None    US   USA
102       New York            US  1585065857000  ...          None    US   USA
118       New York            US  1585065857000  ...          None    US   USA
123       New York            US  1585065857000  ...          None    US   USA
149       New York            US  1585065857000  ...          None    US   USA
170       New York            US  1585065857000  ...          None    US   USA
201       New York            US  1585065857000  ...          None    US   USA
249       New York            US  1585065857000  ...          None    US   USA
268       New York            US  1585065857000  ...          None    US   USA
344       New York            US  1585065857000  ...          None    US   USA
345       New York            US  1585065857000  ...          None    US   USA
363       New York            US  1585065857000  ...          None    US   USA
438       New York            US  1585065857000  ...          None    US   USA
451       New York            US  1585065857000  ...          None    US   USA
463       New York            US  1585065857000  ...          None    US   USA
484       New York            US  1585065857000  ...          None    US   USA
533       New York            US  1585065857000  ...          None    US   USA
534       New York            US  1585065857000  ...          None    US   USA
563       New York            US  1585065857000  ...          None    US   USA
590       New York            US  1585065857000  ...          None    US   USA
604       New York            US  1585065857000  ...          None    US   USA
639       New York            US  1585065857000  ...          None    US   USA
654       New York            US  1585065857000  ...          None    US   USA
682       New York            US  1585065857000  ...          None    US   USA
683       New York            US  1585065857000  ...          None    US   USA
705       New York            US  1585065857000  ...          None    US   USA
713       New York            US  1585065857000  ...          None    US   USA
750       New York            US  1585065857000  ...          None    US   USA
758       New York            US  1585065857000  ...          None    US   USA
768       New York            US  1585065857000  ...          None    US   USA
772       New York            US  1585065857000  ...          None    US   USA
776       New York            US  1585065857000  ...          None    US   USA
806       New York            US  1585065857000  ...          None    US   USA
834       New York            US  1585065857000  ...          None    US   USA
897       New York            US  1585065857000  ...          None    US   USA
954       New York            US  1585065857000  ...          None    US   USA
966       New York            US  1585065857000  ...          None    US   USA
979       New York            US  1585065857000  ...          None    US   USA
1033      New York            US  1585065857000  ...          None    US   USA
1038      New York            US  1585065857000  ...          None    US   USA
1170      New York            US  1585065857000  ...          None    US   USA
1216      New York            US  1585065857000  ...          None    US   USA
1234      New York            US  1585065857000  ...          None    US   USA
1251      New York            US  1585065857000  ...          None    US   USA

[55 rows x 16 columns]

In [10]:
ny_total_confirmed = ny['confirmed'].sum()
ny_total_confirmed

23250

In [8]:
# return only New York City
nyc = ny.loc[ny['admin2'] == 'New York City']
nyc

  provinceState countryRegion     lastUpdate  ...  peopleTested  iso2  iso3
0      New York            US  1585065857000  ...          None    US   USA

[1 rows x 16 columns]

In [9]:
# get all Philippines confirmed
r = request.get('https://covid19.mathdro.id/api/countries/Philippines/confirmed')
j = r.json()
ph = pd.DataFrame.from_dict(j)
ph

  provinceState countryRegion     lastUpdate  ...  peopleTested  iso2  iso3
0          None   Philippines  1585069822000  ...          None    PH   PHL

[1 rows x 16 columns]