<a href="https://colab.research.google.com/github/mimiflynn/covid-jhu-csse/blob/master/covid_jhu_csse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# !apt-get -qq install python-cartopy python3-cartopy

In [0]:
# import cartopy.crs as ccrs
from datetime import datetime
from datetime import timedelta
import matplotlib.pyplot as plt
import requests as request
import pandas as pd
import numpy as np

In [0]:
# run all requests for summary
api = request.get('https://covid19.mathdro.id/api')
confirmed = request.get('https://covid19.mathdro.id/api/confirmed')
us_confirmed = request.get('https://covid19.mathdro.id/api/countries/USA/confirmed')
ph_confirmed = request.get('https://covid19.mathdro.id/api/countries/Philippines/confirmed')

In [61]:
# quick summary
us = pd.DataFrame.from_dict(us_confirmed.json())
print('US confirmed')
print(us['confirmed'].sum())
print('')

ny = us.loc[us['provinceState'] == 'New York']
ny_total_confirmed = ny['confirmed'].sum()
print('New York State confirmed')
print(ny_total_confirmed)
print('')

nyc = ny.loc[ny['admin2'] == 'New York City']
print('New York City confirmed')
print(nyc['confirmed'].sum())
print('')

tx = us.loc[us['provinceState'] == 'Texas']
tx_total_confirmed = tx['confirmed'].sum()
print('Texas confirmed')
print(tx_total_confirmed)
print('')

co = us.loc[us['provinceState'] == 'Colorado']
co_total_confirmed = co['confirmed'].sum()
print('Colorado confirmed')
print(co_total_confirmed)
print('')

ph = global_confirmed.loc[global_confirmed['countryRegion'] == 'Philippines']
ph_total_confirmed = ph['confirmed'].sum()
print('Philippines confirmed')
print(ph_total_confirmed)
print('')

US confirmed
124464

New York State confirmed
53520

New York City confirmed
30765

Texas confirmed
2527

Colorado confirmed
2061

Philippines confirmed
1418

In [62]:
# show api endpoints
api.json()

{'confirmed': {'detail': 'https://covid19.mathdro.id/api/confirmed',
  'value': 684652},
 'countries': 'https://covid19.mathdro.id/api/countries',
 'countryDetail': {'example': 'https://covid19.mathdro.id/api/countries/USA',
  'pattern': 'https://covid19.mathdro.id/api/countries/[country]'},
 'dailySummary': 'https://covid19.mathdro.id/api/daily',
 'dailyTimeSeries': {'example': 'https://covid19.mathdro.id/api/daily/2-14-2020',
  'pattern': 'https://covid19.mathdro.id/api/daily/[dateString]'},
 'deaths': {'detail': 'https://covid19.mathdro.id/api/deaths', 'value': 32113},
 'image': 'https://covid19.mathdro.id/api/og',
 'lastUpdate': '2020-03-29T14:03:59.000Z',
 'recovered': {'detail': 'https://covid19.mathdro.id/api/recovered',
  'value': 145696},
 'source': 'https://github.com/mathdroid/covid19'}

In [0]:
# get date
today = datetime.today()
yesterday = today - timedelta(days=1)
date = yesterday.strftime('%m-%d-%Y').lstrip('0').replace(' 0', '')

In [64]:
# Get yesterday's data
r = request.get('https://covid19.mathdro.id/api/daily/{}'.format(date))
print(r)
j = r.json()
df = pd.DataFrame.from_dict(j)
df

<Response [200]>

       fips     admin2  ... active                    combinedKey
0     45001  Abbeville  ...      0  Abbeville, South Carolina, US
1     22001     Acadia  ...      0          Acadia, Louisiana, US
2     51001   Accomack  ...      0         Accomack, Virginia, US
3     16001        Ada  ...      0                 Ada, Idaho, US
4     19001      Adair  ...      0                Adair, Iowa, US
...     ...        ...  ...    ...                            ...
3425                    ...     78                      Venezuela
3426                    ...    153                        Vietnam
3427                    ...     79             West Bank and Gaza
3428                    ...     28                         Zambia
3429                    ...      6                       Zimbabwe

[3430 rows x 12 columns]

In [65]:
# get all confirmed cases
global_confirmed = pd.DataFrame.from_dict(confirmed.json())
global_confirmed

       provinceState countryRegion     lastUpdate  ...  peopleTested  iso2  iso3
0               None         Italy  1585490349000  ...          None    IT   ITA
1               None         Spain  1585490349000  ...          None    ES   ESP
2              Hubei         China  1585445641000  ...          None    CN   CHN
3               None       Germany  1585490349000  ...          None    DE   DEU
4               None          Iran  1585490349000  ...          None    IR   IRN
...              ...           ...            ...  ...           ...   ...   ...
2119        Missouri            US  1585490360000  ...          None    US   USA
2120            Ohio            US  1585490360000  ...          None    US   USA
2121  North Carolina            US  1585490360000  ...          None    US   USA
2122    South Dakota            US  1585490360000  ...          None    US   USA
2123           Texas            US  1585490360000  ...          None    US   USA

[2124 rows x 16 columns]

In [66]:
# get all US confirmed cases
us = pd.DataFrame.from_dict(us_confirmed.json())
us

       provinceState countryRegion  ...  incidentRate  peopleTested
0           New York            US  ...          None          None
1           New York            US  ...          None          None
2           New York            US  ...          None          None
3           New York            US  ...          None          None
4           Illinois            US  ...          None          None
...              ...           ...  ...           ...           ...
1869        Missouri            US  ...          None          None
1870            Ohio            US  ...          None          None
1871  North Carolina            US  ...          None          None
1872    South Dakota            US  ...          None          None
1873           Texas            US  ...          None          None

[1874 rows x 14 columns]

In [67]:
# return only New York state
ny = us.loc[us['provinceState'] == 'New York']
ny

     provinceState countryRegion  ...  incidentRate  peopleTested
0         New York            US  ...          None          None
1         New York            US  ...          None          None
2         New York            US  ...          None          None
3         New York            US  ...          None          None
8         New York            US  ...          None          None
12        New York            US  ...          None          None
43        New York            US  ...          None          None
60        New York            US  ...          None          None
78        New York            US  ...          None          None
82        New York            US  ...          None          None
107       New York            US  ...          None          None
111       New York            US  ...          None          None
116       New York            US  ...          None          None
153       New York            US  ...          None          None
187       New York            US  ...          None          None
189       New York            US  ...          None          None
223       New York            US  ...          None          None
241       New York            US  ...          None          None
307       New York            US  ...          None          None
332       New York            US  ...          None          None
341       New York            US  ...          None          None
381       New York            US  ...          None          None
389       New York            US  ...          None          None
473       New York            US  ...          None          None
521       New York            US  ...          None          None
525       New York            US  ...          None          None
556       New York            US  ...          None          None
560       New York            US  ...          None          None
576       New York            US  ...          None          None
580       New York            US  ...          None          None
613       New York            US  ...          None          None
628       New York            US  ...          None          None
642       New York            US  ...          None          None
668       New York            US  ...          None          None
691       New York            US  ...          None          None
699       New York            US  ...          None          None
704       New York            US  ...          None          None
726       New York            US  ...          None          None
737       New York            US  ...          None          None
763       New York            US  ...          None          None
777       New York            US  ...          None          None
781       New York            US  ...          None          None
790       New York            US  ...          None          None
796       New York            US  ...          None          None
823       New York            US  ...          None          None
843       New York            US  ...          None          None
866       New York            US  ...          None          None
909       New York            US  ...          None          None
1133      New York            US  ...          None          None
1183      New York            US  ...          None          None
1210      New York            US  ...          None          None
1261      New York            US  ...          None          None
1484      New York            US  ...          None          None
1573      New York            US  ...          None          None
1785      New York            US  ...          None          None

[55 rows x 14 columns]

In [68]:
ny_total_confirmed = ny['confirmed'].sum()
ny_total_confirmed

53520

In [69]:
# return only New York City
nyc = ny.loc[ny['admin2'] == 'New York City']
nyc

  provinceState countryRegion  ...  incidentRate  peopleTested
0      New York            US  ...          None          None

[1 rows x 14 columns]

In [70]:
# show all Philippines confirmed
# ph = pd.DataFrame.from_dict(ph_confirmed.json())
ph = global_confirmed.loc[global_confirmed['countryRegion'] == 'Philippines']
ph

   provinceState countryRegion     lastUpdate  ...  peopleTested  iso2  iso3
44          None   Philippines  1585490349000  ...          None    PH   PHL

[1 rows x 16 columns]