<a href="https://colab.research.google.com/github/mimiflynn/covid-jhu-csse/blob/master/covid_jhu_csse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# !apt-get -qq install python-cartopy python3-cartopy

In [0]:
# import cartopy.crs as ccrs
import matplotlib.pyplot as plt
import requests as request
import pandas as pd
import numpy as np

In [0]:
# run all requests for summary
api = request.get('https://covid19.mathdro.id/api')
confirmed = request.get('https://covid19.mathdro.id/api/confirmed')
us_confirmed = request.get('https://covid19.mathdro.id/api/countries/USA/confirmed')
ph_confirmed = request.get('https://covid19.mathdro.id/api/countries/Philippines/confirmed')

In [14]:
# show api endpoints
api.json()

{'confirmed': {'detail': 'https://covid19.mathdro.id/api/confirmed',
  'value': 491623},
 'countries': 'https://covid19.mathdro.id/api/countries',
 'countryDetail': {'example': 'https://covid19.mathdro.id/api/countries/USA',
  'pattern': 'https://covid19.mathdro.id/api/countries/[country]'},
 'dailySummary': 'https://covid19.mathdro.id/api/daily',
 'dailyTimeSeries': {'example': 'https://covid19.mathdro.id/api/daily/2-14-2020',
  'pattern': 'https://covid19.mathdro.id/api/daily/[dateString]'},
 'deaths': {'detail': 'https://covid19.mathdro.id/api/deaths', 'value': 22169},
 'image': 'https://covid19.mathdro.id/api/og',
 'lastUpdate': '2020-03-26T14:02:37.000Z',
 'recovered': {'detail': 'https://covid19.mathdro.id/api/recovered',
  'value': 118245},
 'source': 'https://github.com/mathdroid/covid19'}

In [15]:
# refactor for dynamic date
r = request.get('https://covid19.mathdro.id/api/daily/3-24-2020')
j = r.json()
df = pd.DataFrame.from_dict(j)
df

       fips     admin2  ... active                    combinedKey
0     45001  Abbeville  ...      0  Abbeville, South Carolina, US
1     22001     Acadia  ...      0          Acadia, Louisiana, US
2     51001   Accomack  ...      0         Accomack, Virginia, US
3     16001        Ada  ...      0                 Ada, Idaho, US
4     19001      Adair  ...      0                Adair, Iowa, US
...     ...        ...  ...    ...                            ...
3412                    ...     50                     Uzbekistan
3413                    ...     69                      Venezuela
3414                    ...    117                        Vietnam
3415                    ...      3                         Zambia
3416                    ...      2                       Zimbabwe

[3417 rows x 12 columns]

In [16]:
# get all confirmed cases
confirmed.json()
df = pd.DataFrame.from_dict(j)
df

       fips     admin2  ... active                    combinedKey
0     45001  Abbeville  ...      0  Abbeville, South Carolina, US
1     22001     Acadia  ...      0          Acadia, Louisiana, US
2     51001   Accomack  ...      0         Accomack, Virginia, US
3     16001        Ada  ...      0                 Ada, Idaho, US
4     19001      Adair  ...      0                Adair, Iowa, US
...     ...        ...  ...    ...                            ...
3412                    ...     50                     Uzbekistan
3413                    ...     69                      Venezuela
3414                    ...    117                        Vietnam
3415                    ...      3                         Zambia
3416                    ...      2                       Zimbabwe

[3417 rows x 12 columns]

In [17]:
# get all US confirmed cases
us_confirmed.json()
us = pd.DataFrame.from_dict(j)
us

       fips     admin2  ... active                    combinedKey
0     45001  Abbeville  ...      0  Abbeville, South Carolina, US
1     22001     Acadia  ...      0          Acadia, Louisiana, US
2     51001   Accomack  ...      0         Accomack, Virginia, US
3     16001        Ada  ...      0                 Ada, Idaho, US
4     19001      Adair  ...      0                Adair, Iowa, US
...     ...        ...  ...    ...                            ...
3412                    ...     50                     Uzbekistan
3413                    ...     69                      Venezuela
3414                    ...    117                        Vietnam
3415                    ...      3                         Zambia
3416                    ...      2                       Zimbabwe

[3417 rows x 12 columns]

In [18]:
# return only New York state
ny = us.loc[us['provinceState'] == 'New York']
ny

       fips       admin2  ... active                combinedKey
27    36001       Albany  ...      0       Albany, New York, US
42    36003     Allegany  ...      0     Allegany, New York, US
276   36005        Bronx  ...      0        Bronx, New York, US
281   36007       Broome  ...      0       Broome, New York, US
433   36009  Cattaraugus  ...      0  Cattaraugus, New York, US
...     ...          ...  ...    ...                        ...
2995  36115   Washington  ...      0   Washington, New York, US
3025  36117        Wayne  ...      0        Wayne, New York, US
3050  36119  Westchester  ...      0  Westchester, New York, US
3138  36121      Wyoming  ...      0      Wyoming, New York, US
3149  36123        Yates  ...      0        Yates, New York, US

[63 rows x 12 columns]

In [19]:
ny_total_confirmed = ny['confirmed'].sum()
ny_total_confirmed

'146209022336182312411430114242003410632869149041010606498021820330671534410018188023116350236389140'

In [20]:
# return only New York City
nyc = ny.loc[ny['admin2'] == 'New York City']
nyc

       fips         admin2  ... active                  combinedKey
2067  36061  New York City  ...      0  New York City, New York, US

[1 rows x 12 columns]

In [21]:
# get all Philippines confirmed
ph_confirmed.json()
ph = pd.DataFrame.from_dict(j)
ph

       fips     admin2  ... active                    combinedKey
0     45001  Abbeville  ...      0  Abbeville, South Carolina, US
1     22001     Acadia  ...      0          Acadia, Louisiana, US
2     51001   Accomack  ...      0         Accomack, Virginia, US
3     16001        Ada  ...      0                 Ada, Idaho, US
4     19001      Adair  ...      0                Adair, Iowa, US
...     ...        ...  ...    ...                            ...
3412                    ...     50                     Uzbekistan
3413                    ...     69                      Venezuela
3414                    ...    117                        Vietnam
3415                    ...      3                         Zambia
3416                    ...      2                       Zimbabwe

[3417 rows x 12 columns]