<a href="https://colab.research.google.com/github/mimiflynn/covid-jhu-csse/blob/master/covid_jhu_csse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# !apt-get -qq install python-cartopy python3-cartopy

In [0]:
# import cartopy.crs as ccrs
import matplotlib.pyplot as plt
import requests as request
import pandas as pd
import numpy as np

In [20]:
# show api endpoints
r = request.get('https://covid19.mathdro.id/api')
r.json()

{'confirmed': {'detail': 'https://covid19.mathdro.id/api/confirmed',
  'value': 351731},
 'countries': 'https://covid19.mathdro.id/api/countries',
 'countryDetail': {'example': 'https://covid19.mathdro.id/api/countries/USA',
  'pattern': 'https://covid19.mathdro.id/api/countries/[country]'},
 'dailySummary': 'https://covid19.mathdro.id/api/daily',
 'dailyTimeSeries': {'example': 'https://covid19.mathdro.id/api/daily/2-14-2020',
  'pattern': 'https://covid19.mathdro.id/api/daily/[dateString]'},
 'deaths': {'detail': 'https://covid19.mathdro.id/api/deaths', 'value': 15373},
 'image': 'https://covid19.mathdro.id/api/og',
 'lastUpdate': '2020-03-23T13:31:51.000Z',
 'recovered': {'detail': 'https://covid19.mathdro.id/api/recovered',
  'value': 100430},
 'source': 'https://github.com/mathdroid/covid19'}

In [21]:
r = request.get('https://covid19.mathdro.id/api/daily/3-22-2020')
j = r.json()
df = pd.DataFrame.from_dict(j)
df

    provinceState          countryRegion  ... latitude longitude
0           Hubei                  China  ...  30.9756  112.2707
1                                  Italy  ...  41.8719   12.5674
2                                  Spain  ...  40.4637   -3.7492
3                                Germany  ...  51.1657   10.4515
4                                   Iran  ...  32.4279   53.6880
..            ...                    ...  ...      ...       ...
304                               Jersey  ...  49.1900   -2.1100
305                          Puerto Rico  ...  18.2000  -66.5000
306                Republic of the Congo  ...  -1.4400   15.5560
307                          The Bahamas  ...  24.2500  -76.0000
308                           The Gambia  ...  13.4667  -16.6000

[309 rows x 8 columns]

In [22]:
# get all confirmed cases
r = request.get('https://covid19.mathdro.id/api/confirmed')
j = r.json()
df = pd.DataFrame.from_dict(j)
df

    provinceState countryRegion     lastUpdate  ...  peopleTested  iso2  iso3
0           Hubei         China  1584939975000  ...          None    CN   CHN
1            None         Italy  1584970086000  ...          None    IT   ITA
2            None         Spain  1584970086000  ...          None    ES   ESP
3            None       Germany  1584970086000  ...          None    DE   DEU
4            None          Iran  1584970086000  ...          None    IR   IRN
..            ...           ...            ...  ...           ...   ...   ...
995         Texas            US  1584970096000  ...          None    US   USA
996          Utah            US  1584970096000  ...          None    US   USA
997       Vermont            US  1584970096000  ...          None    US   USA
998       Vermont            US  1584970096000  ...          None    US   USA
999      Virginia            US  1584970096000  ...          None    US   USA

[1000 rows x 16 columns]

In [23]:
# get all US confirmed cases
r = request.get('https://covid19.mathdro.id/api/countries/USA/confirmed')
j = r.json()
us = pd.DataFrame.from_dict(j)
us

    provinceState countryRegion     lastUpdate  ...  peopleTested  iso2  iso3
0        New York            US  1584966146000  ...          None    US   USA
1        New York            US  1584966146000  ...          None    US   USA
2        New York            US  1584966146000  ...          None    US   USA
3      Washington            US  1584966146000  ...          None    US   USA
4        New York            US  1584966146000  ...          None    US   USA
..            ...           ...            ...  ...           ...   ...   ...
995      Missouri            US  1584966146000  ...          None    US   USA
996      Missouri            US  1584966146000  ...          None    US   USA
997      Missouri            US  1584966146000  ...          None    US   USA
998      Missouri            US  1584966146000  ...          None    US   USA
999       Montana            US  1584966146000  ...          None    US   USA

[1000 rows x 16 columns]

In [31]:
# return only New York state
ny = us.loc[us['provinceState'] == 'New York']
ny

    provinceState countryRegion     lastUpdate  ...  peopleTested  iso2  iso3
0        New York            US  1584966146000  ...          None    US   USA
1        New York            US  1584966146000  ...          None    US   USA
2        New York            US  1584966146000  ...          None    US   USA
4        New York            US  1584966146000  ...          None    US   USA
9        New York            US  1584966146000  ...          None    US   USA
14       New York            US  1584966146000  ...          None    US   USA
36       New York            US  1584966146000  ...          None    US   USA
52       New York            US  1584966146000  ...          None    US   USA
65       New York            US  1584966146000  ...          None    US   USA
74       New York            US  1584966146000  ...          None    US   USA
92       New York            US  1584966146000  ...          None    US   USA
117      New York            US  1584966146000  ...          None    US   USA
127      New York            US  1584966146000  ...          None    US   USA
129      New York            US  1584966146000  ...          None    US   USA
162      New York            US  1584966146000  ...          None    US   USA
179      New York            US  1584966146000  ...          None    US   USA
197      New York            US  1584966146000  ...          None    US   USA
206      New York            US  1584966146000  ...          None    US   USA
226      New York            US  1584966146000  ...          None    US   USA
266      New York            US  1584966146000  ...          None    US   USA
314      New York            US  1584966146000  ...          None    US   USA
482      New York            US  1584966146000  ...          None    US   USA
483      New York            US  1584966146000  ...          None    US   USA
484      New York            US  1584966146000  ...          None    US   USA
485      New York            US  1584966146000  ...          None    US   USA
566      New York            US  1584966146000  ...          None    US   USA
567      New York            US  1584966146000  ...          None    US   USA
568      New York            US  1584966146000  ...          None    US   USA
569      New York            US  1584966146000  ...          None    US   USA
570      New York            US  1584966146000  ...          None    US   USA
717      New York            US  1584966146000  ...          None    US   USA
718      New York            US  1584966146000  ...          None    US   USA
719      New York            US  1584966146000  ...          None    US   USA
720      New York            US  1584966146000  ...          None    US   USA
721      New York            US  1584966146000  ...          None    US   USA
722      New York            US  1584966146000  ...          None    US   USA
723      New York            US  1584966146000  ...          None    US   USA
724      New York            US  1584966146000  ...          None    US   USA
725      New York            US  1584966146000  ...          None    US   USA

[39 rows x 16 columns]

In [32]:
# return only New York City
nyc = ny.loc[ny['admin2'] == 'New York City']
nyc

  provinceState countryRegion     lastUpdate  ...  peopleTested  iso2  iso3
0      New York            US  1584966146000  ...          None    US   USA

[1 rows x 16 columns]

In [25]:
# get all Philippines confirmed
r = request.get('https://covid19.mathdro.id/api/countries/Philippines/confirmed')
j = r.json()
ph = pd.DataFrame.from_dict(j)
ph

  provinceState countryRegion     lastUpdate  ...  peopleTested  iso2  iso3
0          None   Philippines  1584966137000  ...          None    PH   PHL

[1 rows x 16 columns]