<a href="https://colab.research.google.com/github/mimiflynn/covid-jhu-csse/blob/master/covid_jhu_csse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# !apt-get -qq install python-cartopy python3-cartopy

In [0]:
# import cartopy.crs as ccrs
import matplotlib.pyplot as plt
import requests as request
import pandas as pd
import numpy as np

In [0]:
# run all requests for summary
api = request.get('https://covid19.mathdro.id/api')
confirmed = request.get('https://covid19.mathdro.id/api/confirmed')
us_confirmed = request.get('https://covid19.mathdro.id/api/countries/USA/confirmed')
ph_confirmed = request.get('https://covid19.mathdro.id/api/countries/Philippines/confirmed')

In [0]:
# quick summary
us = pd.DataFrame.from_dict(us_confirmed.json())
print('US confirmed')
print(us['confirmed'].sum())
print('')

ny = us.loc[us['provinceState'] == 'New York']
ny_total_confirmed = ny['confirmed'].sum()
print('New York State confirmed')
print(ny_total_confirmed)
print('')

nyc = ny.loc[ny['admin2'] == 'New York City']
print('New York City confirmed')
print(nyc['confirmed'].sum())
print('')

tx = us.loc[us['provinceState'] == 'Texas']
tx_total_confirmed = tx['confirmed'].sum()
print('Texas confirmed')
print(tx_total_confirmed)
print('')

co = us.loc[us['provinceState'] == 'Colorado']
co_total_confirmed = co['confirmed'].sum()
print('Colorado confirmed')
print(co_total_confirmed)
print('')

US confirmed
80021

New York State confirmed
37769

New York City confirmed
21873

Texas confirmed
1454

Colorado confirmed
1087

In [0]:
# show api endpoints
api.json()

{'confirmed': {'detail': 'https://covid19.mathdro.id/api/confirmed',
  'value': 523163},
 'countries': 'https://covid19.mathdro.id/api/countries',
 'countryDetail': {'example': 'https://covid19.mathdro.id/api/countries/USA',
  'pattern': 'https://covid19.mathdro.id/api/countries/[country]'},
 'dailySummary': 'https://covid19.mathdro.id/api/daily',
 'dailyTimeSeries': {'example': 'https://covid19.mathdro.id/api/daily/2-14-2020',
  'pattern': 'https://covid19.mathdro.id/api/daily/[dateString]'},
 'deaths': {'detail': 'https://covid19.mathdro.id/api/deaths', 'value': 23639},
 'image': 'https://covid19.mathdro.id/api/og',
 'lastUpdate': '2020-03-26T20:29:16.000Z',
 'recovered': {'detail': 'https://covid19.mathdro.id/api/recovered',
  'value': 122059},
 'source': 'https://github.com/mathdroid/covid19'}

In [0]:
# refactor for dynamic date
r = request.get('https://covid19.mathdro.id/api/daily/3-24-2020')
j = r.json()
df = pd.DataFrame.from_dict(j)
df

       fips     admin2  ... active                    combinedKey
0     45001  Abbeville  ...      0  Abbeville, South Carolina, US
1     22001     Acadia  ...      0          Acadia, Louisiana, US
2     51001   Accomack  ...      0         Accomack, Virginia, US
3     16001        Ada  ...      0                 Ada, Idaho, US
4     19001      Adair  ...      0                Adair, Iowa, US
...     ...        ...  ...    ...                            ...
3412                    ...     50                     Uzbekistan
3413                    ...     69                      Venezuela
3414                    ...    117                        Vietnam
3415                    ...      3                         Zambia
3416                    ...      2                       Zimbabwe

[3417 rows x 12 columns]

In [0]:
# get all confirmed cases
global_confirmed = pd.DataFrame.from_dict(confirmed.json())
global_confirmed

     provinceState countryRegion     lastUpdate  ...  peopleTested  iso2  iso3
0             None         Italy  1585254274000  ...          None    IT   ITA
1            Hubei         China  1585185668000  ...          None    CN   CHN
2             None         Spain  1585254274000  ...          None    ES   ESP
3             None       Germany  1585254274000  ...          None    DE   DEU
4             None          Iran  1585254274000  ...          None    IR   IRN
...            ...           ...            ...  ...           ...   ...   ...
1856      Arkansas            US  1585254290000  ...          None    US   USA
1857        Kansas            US  1585254290000  ...          None    US   USA
1858          Ohio            US  1585254290000  ...          None    US   USA
1859         Texas            US  1585254290000  ...          None    US   USA
1860      Colorado            US  1585254290000  ...          None    US   USA

[1861 rows x 16 columns]

In [0]:
# get all US confirmed cases
us = pd.DataFrame.from_dict(us_confirmed.json())
us

     provinceState countryRegion  ...  incidentRate  peopleTested
0         New York            US  ...          None          None
1         New York            US  ...          None          None
2         New York            US  ...          None          None
3         New York            US  ...          None          None
4       New Jersey            US  ...          None          None
...            ...           ...  ...           ...           ...
1611      Arkansas            US  ...          None          None
1612        Kansas            US  ...          None          None
1613          Ohio            US  ...          None          None
1614         Texas            US  ...          None          None
1615      Colorado            US  ...          None          None

[1616 rows x 14 columns]

In [0]:
# return only New York state
ny = us.loc[us['provinceState'] == 'New York']
ny

     provinceState countryRegion  ...  incidentRate  peopleTested
0         New York            US  ...          None          None
1         New York            US  ...          None          None
2         New York            US  ...          None          None
3         New York            US  ...          None          None
9         New York            US  ...          None          None
12        New York            US  ...          None          None
49        New York            US  ...          None          None
54        New York            US  ...          None          None
63        New York            US  ...          None          None
64        New York            US  ...          None          None
97        New York            US  ...          None          None
113       New York            US  ...          None          None
117       New York            US  ...          None          None
124       New York            US  ...          None          None
143       New York            US  ...          None          None
159       New York            US  ...          None          None
208       New York            US  ...          None          None
289       New York            US  ...          None          None
323       New York            US  ...          None          None
359       New York            US  ...          None          None
390       New York            US  ...          None          None
391       New York            US  ...          None          None
427       New York            US  ...          None          None
439       New York            US  ...          None          None
441       New York            US  ...          None          None
485       New York            US  ...          None          None
515       New York            US  ...          None          None
563       New York            US  ...          None          None
574       New York            US  ...          None          None
578       New York            US  ...          None          None
600       New York            US  ...          None          None
654       New York            US  ...          None          None
692       New York            US  ...          None          None
697       New York            US  ...          None          None
722       New York            US  ...          None          None
741       New York            US  ...          None          None
784       New York            US  ...          None          None
815       New York            US  ...          None          None
821       New York            US  ...          None          None
838       New York            US  ...          None          None
873       New York            US  ...          None          None
892       New York            US  ...          None          None
952       New York            US  ...          None          None
968       New York            US  ...          None          None
995       New York            US  ...          None          None
1024      New York            US  ...          None          None
1099      New York            US  ...          None          None
1124      New York            US  ...          None          None
1134      New York            US  ...          None          None
1143      New York            US  ...          None          None
1160      New York            US  ...          None          None
1310      New York            US  ...          None          None
1316      New York            US  ...          None          None

[53 rows x 14 columns]

In [0]:
ny_total_confirmed = ny['confirmed'].sum()
ny_total_confirmed

37769

In [0]:
# return only New York City
nyc = ny.loc[ny['admin2'] == 'New York City']
nyc

  provinceState countryRegion  ...  incidentRate  peopleTested
0      New York            US  ...          None          None

[1 rows x 14 columns]

In [0]:
# show all Philippines confirmed
ph = pd.DataFrame.from_dict(ph_confirmed.json())
ph

  provinceState countryRegion  ...  incidentRate  peopleTested
0          None   Philippines  ...          None          None

[1 rows x 14 columns]