<a href="https://colab.research.google.com/github/mimiflynn/covid-data/blob/master/covid_jhu_csse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# !apt-get -qq install python-cartopy python3-cartopy

In [2]:
# import cartopy.crs as ccrs
import json
from datetime import datetime
from datetime import timedelta
import matplotlib.pyplot as plt
import requests as request
import pandas as pd
import numpy as np
plt.close('all')
plt.xkcd()

In [0]:
# run all requests for summary
api = request.get('https://covid19.mathdro.id/api')
confirmed = request.get('https://covid19.mathdro.id/api/confirmed')
deaths = request.get('https://covid19.mathdro.id/api/deaths')
us_confirmed = request.get('https://covid19.mathdro.id/api/countries/USA/confirmed')
ph_confirmed = request.get('https://covid19.mathdro.id/api/countries/Philippines/confirmed')

In [4]:
today = datetime.today()
print('Last run at:')
print(today)

Last run at:
2020-04-30 22:30:57.100306

In [0]:
# state population data from https://datausa.io/api/data?drilldowns=State&measures=Population&year=latest
# included here as string because no reason to make calls on 2 year old data
us_pop = '[{"ID State":"04000US30","State":"Montana","ID Year":2018,"Year":"2018","Population":1062305,"Slug State":"montana"},{"ID State":"04000US01","State":"Alabama","ID Year":2018,"Year":"2018","Population":4887871,"Slug State":"alabama"},{"ID State":"04000US04","State":"Arizona","ID Year":2018,"Year":"2018","Population":7171646,"Slug State":"arizona"},{"ID State":"04000US05","State":"Arkansas","ID Year":2018,"Year":"2018","Population":3013825,"Slug State":"arkansas"},{"ID State":"04000US06","State":"California","ID Year":2018,"Year":"2018","Population":39557045,"Slug State":"california"},{"ID State":"04000US08","State":"Colorado","ID Year":2018,"Year":"2018","Population":5695564,"Slug State":"colorado"},{"ID State":"04000US09","State":"Connecticut","ID Year":2018,"Year":"2018","Population":3572665,"Slug State":"connecticut"},{"ID State":"04000US10","State":"Delaware","ID Year":2018,"Year":"2018","Population":967171,"Slug State":"delaware"},{"ID State":"04000US11","State":"District of Columbia","ID Year":2018,"Year":"2018","Population":702455,"Slug State":"district-of-columbia"},{"ID State":"04000US12","State":"Florida","ID Year":2018,"Year":"2018","Population":21299325,"Slug State":"florida"},{"ID State":"04000US13","State":"Georgia","ID Year":2018,"Year":"2018","Population":10519475,"Slug State":"georgia"},{"ID State":"04000US15","State":"Hawaii","ID Year":2018,"Year":"2018","Population":1420491,"Slug State":"hawaii"},{"ID State":"04000US16","State":"Idaho","ID Year":2018,"Year":"2018","Population":1754208,"Slug State":"idaho"},{"ID State":"04000US17","State":"Illinois","ID Year":2018,"Year":"2018","Population":12741080,"Slug State":"illinois"},{"ID State":"04000US18","State":"Indiana","ID Year":2018,"Year":"2018","Population":6691878,"Slug State":"indiana"},{"ID State":"04000US19","State":"Iowa","ID Year":2018,"Year":"2018","Population":3156145,"Slug State":"iowa"},{"ID State":"04000US20","State":"Kansas","ID Year":2018,"Year":"2018","Population":2911510,"Slug State":"kansas"},{"ID State":"04000US21","State":"Kentucky","ID Year":2018,"Year":"2018","Population":4468402,"Slug State":"kentucky"},{"ID State":"04000US22","State":"Louisiana","ID Year":2018,"Year":"2018","Population":4659978,"Slug State":"louisiana"},{"ID State":"04000US23","State":"Maine","ID Year":2018,"Year":"2018","Population":1338404,"Slug State":"maine"},{"ID State":"04000US24","State":"Maryland","ID Year":2018,"Year":"2018","Population":6042718,"Slug State":"maryland"},{"ID State":"04000US25","State":"Massachusetts","ID Year":2018,"Year":"2018","Population":6902149,"Slug State":"massachusetts"},{"ID State":"04000US26","State":"Michigan","ID Year":2018,"Year":"2018","Population":9995915,"Slug State":"michigan"},{"ID State":"04000US27","State":"Minnesota","ID Year":2018,"Year":"2018","Population":5611179,"Slug State":"minnesota"},{"ID State":"04000US28","State":"Mississippi","ID Year":2018,"Year":"2018","Population":2986530,"Slug State":"mississippi"},{"ID State":"04000US29","State":"Missouri","ID Year":2018,"Year":"2018","Population":6126452,"Slug State":"missouri"},{"ID State":"04000US02","State":"Alaska","ID Year":2018,"Year":"2018","Population":737438,"Slug State":"alaska"},{"ID State":"04000US31","State":"Nebraska","ID Year":2018,"Year":"2018","Population":1929268,"Slug State":"nebraska"},{"ID State":"04000US32","State":"Nevada","ID Year":2018,"Year":"2018","Population":3034392,"Slug State":"nevada"},{"ID State":"04000US33","State":"New Hampshire","ID Year":2018,"Year":"2018","Population":1356458,"Slug State":"new-hampshire"},{"ID State":"04000US34","State":"New Jersey","ID Year":2018,"Year":"2018","Population":8908520,"Slug State":"new-jersey"},{"ID State":"04000US35","State":"New Mexico","ID Year":2018,"Year":"2018","Population":2095428,"Slug State":"new-mexico"},{"ID State":"04000US36","State":"New York","ID Year":2018,"Year":"2018","Population":19542209,"Slug State":"new-york"},{"ID State":"04000US37","State":"North Carolina","ID Year":2018,"Year":"2018","Population":10383620,"Slug State":"north-carolina"},{"ID State":"04000US38","State":"North Dakota","ID Year":2018,"Year":"2018","Population":760077,"Slug State":"north-dakota"},{"ID State":"04000US39","State":"Ohio","ID Year":2018,"Year":"2018","Population":11689442,"Slug State":"ohio"},{"ID State":"04000US40","State":"Oklahoma","ID Year":2018,"Year":"2018","Population":3943079,"Slug State":"oklahoma"},{"ID State":"04000US41","State":"Oregon","ID Year":2018,"Year":"2018","Population":4190713,"Slug State":"oregon"},{"ID State":"04000US42","State":"Pennsylvania","ID Year":2018,"Year":"2018","Population":12807060,"Slug State":"pennsylvania"},{"ID State":"04000US44","State":"Rhode Island","ID Year":2018,"Year":"2018","Population":1057315,"Slug State":"rhode-island"},{"ID State":"04000US45","State":"South Carolina","ID Year":2018,"Year":"2018","Population":5084127,"Slug State":"south-carolina"},{"ID State":"04000US46","State":"South Dakota","ID Year":2018,"Year":"2018","Population":882235,"Slug State":"south-dakota"},{"ID State":"04000US47","State":"Tennessee","ID Year":2018,"Year":"2018","Population":6770010,"Slug State":"tennessee"},{"ID State":"04000US48","State":"Texas","ID Year":2018,"Year":"2018","Population":28701845,"Slug State":"texas"},{"ID State":"04000US49","State":"Utah","ID Year":2018,"Year":"2018","Population":3161105,"Slug State":"utah"},{"ID State":"04000US50","State":"Vermont","ID Year":2018,"Year":"2018","Population":626299,"Slug State":"vermont"},{"ID State":"04000US51","State":"Virginia","ID Year":2018,"Year":"2018","Population":8517685,"Slug State":"virginia"},{"ID State":"04000US53","State":"Washington","ID Year":2018,"Year":"2018","Population":7535591,"Slug State":"washington"},{"ID State":"04000US54","State":"West Virginia","ID Year":2018,"Year":"2018","Population":1805832,"Slug State":"west-virginia"},{"ID State":"04000US55","State":"Wisconsin","ID Year":2018,"Year":"2018","Population":5813568,"Slug State":"wisconsin"},{"ID State":"04000US56","State":"Wyoming","ID Year":2018,"Year":"2018","Population":577737,"Slug State":"wyoming"},{"ID State":"04000US72","State":"Puerto Rico","ID Year":2018,"Year":"2018","Population":3195153,"Slug State":"puerto-rico"}]'
pop = pd.DataFrame.from_dict(json.loads(us_pop))

In [0]:
def state_details(state_name):
    state = us.loc[us['provinceState'] == state_name]
    p = pop.loc[pop['State'] == state_name]
    population = p['Population'].sum()
    confirmed = state['confirmed'].sum()
    confirmed_perc_of_pop = (confirmed/population) * 100
    deaths = state['deaths'].sum()
    deaths_perc_of_confirmed = (deaths/confirmed) * 100
    print('{0} State Total Population'.format(state_name))
    print(p['Population'].sum())
    print('{0} State Confirmed'.format(state_name))
    print('{0} ({1}% of population)'.format(confirmed, confirmed_perc_of_pop))
    print('{0} State Deaths'.format(state_name))
    print('{0} ({1}% of confirmed)'.format(deaths, deaths_perc_of_confirmed))
    print('')

In [0]:
# All States
states = pop['State'].tolist()
states.sort()

In [8]:
us = pd.DataFrame.from_dict(us_confirmed.json())

for i in states:
    state_details(i)

Alabama State Total Population
4887871
Alabama State Confirmed
7023 (0.14368218801191765% of population)
Alabama State Deaths
269 (3.8302719635483413% of confirmed)

Alaska State Total Population
737438
Alaska State Confirmed
355 (0.04813964021382137% of population)
Alaska State Deaths
5 (1.4084507042253522% of confirmed)

Arizona State Total Population
7171646
Arizona State Confirmed
7655 (0.10673979167404525% of population)
Arizona State Deaths
318 (4.154147615937296% of confirmed)

Arkansas State Total Population
3013825
Arkansas State Confirmed
3255 (0.10800228944945377% of population)
Arkansas State Deaths
59 (1.8125960061443933% of confirmed)

California State Total Population
39557045
California State Confirmed
49841 (0.1259977837070489% of population)
California State Deaths
2014 (4.040849902690556% of confirmed)

Colorado State Total Population
5695564
Colorado State Confirmed
14758 (0.259113934985192% of population)
Colorado State Deaths
764 (5.176853232145278% of confirmed)

Connecticut State Total Population
3572665
Connecticut State Confirmed
27700 (0.7753315802069324% of population)
Connecticut State Deaths
2257 (8.148014440433213% of confirmed)

Delaware State Total Population
967171
Delaware State Confirmed
4734 (0.48946877025882707% of population)
Delaware State Deaths
152 (3.2108153781157585% of confirmed)

District of Columbia State Total Population
702455
District of Columbia State Confirmed
4323 (0.615413086959307% of population)
District of Columbia State Deaths
224 (5.181586860976174% of confirmed)

Florida State Total Population
21299325
Florida State Confirmed
33690 (0.15817402664168934% of population)
Florida State Deaths
1268 (3.763728109231226% of confirmed)

Georgia State Total Population
10519475
Georgia State Confirmed
26325 (0.25025013130408125% of population)
Georgia State Deaths
1132 (4.300094966761633% of confirmed)

Hawaii State Total Population
1420491
Hawaii State Confirmed
613 (0.04315409249337025% of population)
Hawaii State Deaths
16 (2.6101141924959217% of confirmed)

Idaho State Total Population
1754208
Idaho State Confirmed
1984 (0.1130994728105219% of population)
Idaho State Deaths
60 (3.024193548387097% of confirmed)

Illinois State Total Population
12741080
Illinois State Confirmed
52921 (0.41535725385917044% of population)
Illinois State Deaths
2355 (4.450029288940118% of confirmed)

Indiana State Total Population
6691878
Indiana State Confirmed
17835 (0.26651711223665464% of population)
Indiana State Deaths
1007 (5.646201289599103% of confirmed)

Iowa State Total Population
3156145
Iowa State Confirmed
7145 (0.22638376880656624% of population)
Iowa State Deaths
162 (2.2673198040587823% of confirmed)

Kansas State Total Population
2911510
Kansas State Confirmed
4302 (0.14775837967240368% of population)
Kansas State Deaths
134 (3.114830311483031% of confirmed)

Kentucky State Total Population
4468402
Kentucky State Confirmed
4487 (0.10041621143308055% of population)
Kentucky State Deaths
234 (5.215065745486962% of confirmed)

Louisiana State Total Population
4659978
Louisiana State Confirmed
28001 (0.6008826651112945% of population)
Louisiana State Deaths
1905 (6.803328452555266% of confirmed)

Maine State Total Population
1338404
Maine State Confirmed
1095 (0.08181386188325797% of population)
Maine State Deaths
53 (4.840182648401827% of confirmed)

Maryland State Total Population
6042718
Maryland State Confirmed
21742 (0.3598049751783883% of population)
Maryland State Deaths
1057 (4.861558274307791% of confirmed)

Massachusetts State Total Population
6902149
Massachusetts State Confirmed
62205 (0.9012410482590277% of population)
Massachusetts State Deaths
3562 (5.726227795193313% of confirmed)

Michigan State Total Population
9995915
Michigan State Confirmed
41379 (0.4139591022932868% of population)
Michigan State Deaths
3789 (9.156818676140071% of confirmed)

Minnesota State Total Population
5611179
Minnesota State Confirmed
5136 (0.09153156582600555% of population)
Minnesota State Deaths
343 (6.678348909657321% of confirmed)

Mississippi State Total Population
2986530
Mississippi State Confirmed
6815 (0.22819124535832558% of population)
Mississippi State Deaths
261 (3.829787234042553% of confirmed)

Missouri State Total Population
6126452
Missouri State Confirmed
7806 (0.1274146928760725% of population)
Missouri State Deaths
346 (4.432487829874455% of confirmed)

Montana State Total Population
1062305
Montana State Confirmed
453 (0.04264312038444703% of population)
Montana State Deaths
16 (3.532008830022075% of confirmed)

Nebraska State Total Population
1929268
Nebraska State Confirmed
3851 (0.19960938552860463% of population)
Nebraska State Deaths
68 (1.765775123344586% of confirmed)

Nevada State Total Population
3034392
Nevada State Confirmed
5050 (0.16642543217883515% of population)
Nevada State Deaths
236 (4.673267326732673% of confirmed)

New Hampshire State Total Population
1356458
New Hampshire State Confirmed
2058 (0.15171866729379016% of population)
New Hampshire State Deaths
66 (3.206997084548105% of confirmed)

New Jersey State Total Population
8908520
New Jersey State Confirmed
118652 (1.3318935131761505% of population)
New Jersey State Deaths
7228 (6.091764150625358% of confirmed)

New Mexico State Total Population
2095428
New Mexico State Confirmed
3411 (0.16278297321597304% of population)
New Mexico State Deaths
122 (3.5766637349750807% of confirmed)

New York State Total Population
19542209
New York State Confirmed
304372 (1.557510719489286% of population)
New York State Deaths
23545 (7.735599858068416% of confirmed)

North Carolina State Total Population
10383620
North Carolina State Confirmed
10731 (0.10334546140941213% of population)
North Carolina State Deaths
403 (3.7554747926567886% of confirmed)

North Dakota State Total Population
760077
North Dakota State Confirmed
1067 (0.14038051407949456% of population)
North Dakota State Deaths
19 (1.7806935332708531% of confirmed)

Ohio State Total Population
11689442
Ohio State Confirmed
18027 (0.15421608661901912% of population)
Ohio State Deaths
976 (5.414101070616298% of confirmed)

Oklahoma State Total Population
3943079
Oklahoma State Confirmed
3618 (0.09175570664447757% of population)
Oklahoma State Deaths
222 (6.135986733001658% of confirmed)

Oregon State Total Population
4190713
Oregon State Confirmed
2510 (0.059894342561755% of population)
Oregon State Deaths
103 (4.103585657370518% of confirmed)

Pennsylvania State Total Population
12807060
Pennsylvania State Confirmed
47971 (0.37456684047704936% of population)
Pennsylvania State Deaths
2475 (5.15936711763357% of confirmed)

Puerto Rico State Total Population
3195153
Puerto Rico State Confirmed
1539 (0.04816670750978122% of population)
Puerto Rico State Deaths
92 (5.977907732293697% of confirmed)

Rhode Island State Total Population
1057315
Rhode Island State Confirmed
8621 (0.8153672273636522% of population)
Rhode Island State Deaths
266 (3.0854889223987936% of confirmed)

South Carolina State Total Population
5084127
South Carolina State Confirmed
6095 (0.11988292188609764% of population)
South Carolina State Deaths
243 (3.98687448728466% of confirmed)

South Dakota State Total Population
882235
South Dakota State Confirmed
2449 (0.2775904379218689% of population)
South Dakota State Deaths
13 (0.5308289097590854% of confirmed)

Tennessee State Total Population
6770010
Tennessee State Confirmed
10725 (0.15841926378247595% of population)
Tennessee State Deaths
201 (1.8741258741258742% of confirmed)

Texas State Total Population
28701845
Texas State Confirmed
28313 (0.09864522646540667% of population)
Texas State Deaths
788 (2.783173807085084% of confirmed)

Utah State Total Population
3161105
Utah State Confirmed
4672 (0.14779641929009002% of population)
Utah State Deaths
46 (0.9845890410958904% of confirmed)

Vermont State Total Population
626299
Vermont State Confirmed
866 (0.13827261419864953% of population)
Vermont State Deaths
49 (5.658198614318707% of confirmed)

Virginia State Total Population
8517685
Virginia State Confirmed
15899 (0.18665869893051926% of population)
Virginia State Deaths
552 (3.4719164727341343% of confirmed)

Washington State Total Population
7535591
Washington State Confirmed
14070 (0.1867139551496359% of population)
Washington State Deaths
801 (5.692963752665245% of confirmed)

West Virginia State Total Population
1805832
West Virginia State Confirmed
1126 (0.06235353011797332% of population)
West Virginia State Deaths
41 (3.641207815275311% of confirmed)

Wisconsin State Total Population
5813568
Wisconsin State Confirmed
6854 (0.11789661701729472% of population)
Wisconsin State Deaths
316 (4.610446454625036% of confirmed)

Wyoming State Total Population
577737
Wyoming State Confirmed
559 (0.09675682879926334% of population)
Wyoming State Deaths
1 (0.17889087656529518% of confirmed)

In [9]:
# quick summary
print('US Confirmed')
print(us['confirmed'].sum())
print('US Deaths')
print(us['deaths'].sum())
print('')

ny = us.loc[us['provinceState'] == 'New York']
nyc = ny.loc[ny['admin2'] == 'New York City']
print('New York City Confirmed')
print(nyc['confirmed'].sum())
print('New York City Deaths')
print(nyc['deaths'].sum())
print('')

# create a dataframe of all comfirmed cases
global_confirmed = pd.DataFrame.from_dict(confirmed.json())

ph = global_confirmed.loc[global_confirmed['countryRegion'] == 'Philippines']
print('Philippines Confirmed')
print(ph['confirmed'].sum())
print('Philippines Deaths')
print(ph['deaths'].sum())
print('')

US Confirmed
1067061
US Deaths
62648

New York City Confirmed
167478
New York City Deaths
18069

Philippines Confirmed
8488
Philippines Deaths
568

In [10]:
ny

     provinceState countryRegion  ...       uid  iso3
0         New York            US  ...  84036061   USA
2         New York            US  ...  84036059   USA
3         New York            US  ...  84036103   USA
4         New York            US  ...  84036119   USA
17        New York            US  ...  84036087   USA
20        New York            US  ...  84036071   USA
55        New York            US  ...  84036029   USA
59        New York            US  ...  84036027   USA
110       New York            US  ...  84036055   USA
119       New York            US  ...  84036111   USA
126       New York            US  ...  84036001   USA
144       New York            US  ...  84036079   USA
165       New York            US  ...  84036105   USA
166       New York            US  ...  84036067   USA
239       New York            US  ...  84036093   USA
272       New York            US  ...  84036065   USA
280       New York            US  ...  84036063   USA
318       New York            US  ...  84036091   USA
368       New York            US  ...  84036083   USA
374       New York            US  ...  84036007   USA
443       New York            US  ...  84036101   USA
502       New York            US  ...  84036113   USA
509       New York            US  ...  84036089   USA
512       New York            US  ...  84036021   USA
553       New York            US  ...  84036037   USA
567       New York            US  ...  84036115   USA
617       New York            US  ...  84036039   USA
618       New York            US  ...  84036053   USA
627       New York            US  ...  84036109   USA
643       New York            US  ...  84036015   USA
716       New York            US  ...  84036017   USA
755       New York            US  ...  84036069   USA
760       New York            US  ...  84036073   USA
765       New York            US  ...  84036107   USA
845       New York            US  ...  84036035   USA
851       New York            US  ...  84036117   USA
861       New York            US  ...  84036051   USA
873       New York            US  ...  84036077   USA
879       New York            US  ...  84036121   USA
900       New York            US  ...  84036075   USA
922       New York            US  ...  84036025   USA
927       New York            US  ...  84036045   USA
936       New York            US  ...  84036019   USA
945       New York            US  ...  84036043   USA
988       New York            US  ...  84036057   USA
1037      New York            US  ...  84036011   USA
1046      New York            US  ...  84036009   USA
1121      New York            US  ...  84036095   USA
1158      New York            US  ...  84036099   USA
1198      New York            US  ...  84036003   USA
1232      New York            US  ...  84036013   USA
1320      New York            US  ...  84036023   USA
1325      New York            US  ...  84036031   USA
1576      New York            US  ...  84036123   USA
1667      New York            US  ...  84036033   USA
1945      New York            US  ...  84036049   USA
2080      New York            US  ...  84036097   USA
2416      New York            US  ...  84036041   USA

[58 rows x 17 columns]

In [11]:
# show api endpoints
api.json()

{'confirmed': {'detail': 'https://covid19.mathdro.id/api/confirmed',
  'value': 3271892},
 'countries': 'https://covid19.mathdro.id/api/countries',
 'countryDetail': {'example': 'https://covid19.mathdro.id/api/countries/USA',
  'pattern': 'https://covid19.mathdro.id/api/countries/[country]'},
 'dailySummary': 'https://covid19.mathdro.id/api/daily',
 'dailyTimeSeries': {'example': 'https://covid19.mathdro.id/api/daily/2-14-2020',
  'pattern': 'https://covid19.mathdro.id/api/daily/[dateString]'},
 'deaths': {'detail': 'https://covid19.mathdro.id/api/deaths',
  'value': 232817},
 'image': 'https://covid19.mathdro.id/api/og',
 'lastUpdate': '2020-04-30T21:51:30.000Z',
 'recovered': {'detail': 'https://covid19.mathdro.id/api/recovered',
  'value': 1011110},
 'source': 'https://github.com/mathdroid/covid19'}

In [0]:
# get date
yesterday = today - timedelta(days=1)
date = yesterday.strftime('%m-%d-%Y').lstrip('0').replace(' 0', '')

In [13]:
# Get yesterday's data
r = request.get('https://covid19.mathdro.id/api/daily/{}'.format(date))
print(r)
j = r.json()
df = pd.DataFrame.from_dict(j)
df

<Response [200]>

       fips     admin2  ... active                    combinedKey
0     45001  Abbeville  ...     29  Abbeville, South Carolina, US
1     22001     Acadia  ...    121          Acadia, Louisiana, US
2     51001   Accomack  ...    225         Accomack, Virginia, US
3     16001        Ada  ...    646                 Ada, Idaho, US
4     19001      Adair  ...      1                Adair, Iowa, US
...     ...        ...  ...    ...                            ...
3163                    ...    271             West Bank and Gaza
3164                    ...      1                 Western Sahara
3165                    ...      5                          Yemen
3166                    ...     40                         Zambia
3167                    ...     23                       Zimbabwe

[3168 rows x 12 columns]

In [14]:
# get all US confirmed cases
us = pd.DataFrame.from_dict(us_confirmed.json())
us

      provinceState countryRegion  ...       uid  iso3
0          New York            US  ...  84036061   USA
1          Illinois            US  ...  84017031   USA
2          New York            US  ...  84036059   USA
3          New York            US  ...  84036103   USA
4          New York            US  ...  84036119   USA
...             ...           ...  ...       ...   ...
2840       Missouri            US  ...  84029227   USA
2841  West Virginia            US  ...  84054109   USA
2842          Texas            US  ...  84048501   USA
2843         Alaska            US  ...  84002290   USA
2844          Texas            US  ...  84048507   USA

[2845 rows x 17 columns]

In [15]:
# return only New York state
ny = us.loc[us['provinceState'] == 'New York']
ny

     provinceState countryRegion  ...       uid  iso3
0         New York            US  ...  84036061   USA
2         New York            US  ...  84036059   USA
3         New York            US  ...  84036103   USA
4         New York            US  ...  84036119   USA
17        New York            US  ...  84036087   USA
20        New York            US  ...  84036071   USA
55        New York            US  ...  84036029   USA
59        New York            US  ...  84036027   USA
110       New York            US  ...  84036055   USA
119       New York            US  ...  84036111   USA
126       New York            US  ...  84036001   USA
144       New York            US  ...  84036079   USA
165       New York            US  ...  84036105   USA
166       New York            US  ...  84036067   USA
239       New York            US  ...  84036093   USA
272       New York            US  ...  84036065   USA
280       New York            US  ...  84036063   USA
318       New York            US  ...  84036091   USA
368       New York            US  ...  84036083   USA
374       New York            US  ...  84036007   USA
443       New York            US  ...  84036101   USA
502       New York            US  ...  84036113   USA
509       New York            US  ...  84036089   USA
512       New York            US  ...  84036021   USA
553       New York            US  ...  84036037   USA
567       New York            US  ...  84036115   USA
617       New York            US  ...  84036039   USA
618       New York            US  ...  84036053   USA
627       New York            US  ...  84036109   USA
643       New York            US  ...  84036015   USA
716       New York            US  ...  84036017   USA
755       New York            US  ...  84036069   USA
760       New York            US  ...  84036073   USA
765       New York            US  ...  84036107   USA
845       New York            US  ...  84036035   USA
851       New York            US  ...  84036117   USA
861       New York            US  ...  84036051   USA
873       New York            US  ...  84036077   USA
879       New York            US  ...  84036121   USA
900       New York            US  ...  84036075   USA
922       New York            US  ...  84036025   USA
927       New York            US  ...  84036045   USA
936       New York            US  ...  84036019   USA
945       New York            US  ...  84036043   USA
988       New York            US  ...  84036057   USA
1037      New York            US  ...  84036011   USA
1046      New York            US  ...  84036009   USA
1121      New York            US  ...  84036095   USA
1158      New York            US  ...  84036099   USA
1198      New York            US  ...  84036003   USA
1232      New York            US  ...  84036013   USA
1320      New York            US  ...  84036023   USA
1325      New York            US  ...  84036031   USA
1576      New York            US  ...  84036123   USA
1667      New York            US  ...  84036033   USA
1945      New York            US  ...  84036049   USA
2080      New York            US  ...  84036097   USA
2416      New York            US  ...  84036041   USA

[58 rows x 17 columns]

In [16]:
ny_total_confirmed = ny['confirmed'].sum()
ny_total_confirmed

304372

In [17]:
# return only New York City
nyc = ny.loc[ny['admin2'] == 'New York City']
nyc

  provinceState countryRegion     lastUpdate  ...  peopleHospitalized       uid  iso3
0      New York            US  1588283490000  ...                None  84036061   USA

[1 rows x 17 columns]

In [18]:
# show all Philippines confirmed
# ph = pd.DataFrame.from_dict(ph_confirmed.json())
ph = global_confirmed.loc[global_confirmed['countryRegion'] == 'Philippines']
ph

   provinceState countryRegion     lastUpdate  ...    uid  iso3  iso2
59          None   Philippines  1588283490000  ...  608.0   PHL    PH

[1 rows x 18 columns]

In [19]:
pop
pop.loc[pop['State'] == 'Texas']

     ID State  State  ID Year  Year  Population Slug State
43  04000US48  Texas     2018  2018    28701845      texas