<a href="https://colab.research.google.com/github/mimiflynn/covid-jhu-csse/blob/master/covid_jhu_csse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# !apt-get -qq install python-cartopy python3-cartopy

In [0]:
# import cartopy.crs as ccrs
from datetime import datetime
from datetime import timedelta
import matplotlib.pyplot as plt
import requests as request
import pandas as pd
import numpy as np

In [0]:
# run all requests for summary
api = request.get('https://covid19.mathdro.id/api')
confirmed = request.get('https://covid19.mathdro.id/api/confirmed')
us_confirmed = request.get('https://covid19.mathdro.id/api/countries/USA/confirmed')
ph_confirmed = request.get('https://covid19.mathdro.id/api/countries/Philippines/confirmed')

In [15]:
# quick summary
us = pd.DataFrame.from_dict(us_confirmed.json())
print('US confirmed')
print(us['confirmed'].sum())
print('')

ny = us.loc[us['provinceState'] == 'New York']
ny_total_confirmed = ny['confirmed'].sum()
print('New York State confirmed')
print(ny_total_confirmed)
print('')

nyc = ny.loc[ny['admin2'] == 'New York City']
print('New York City confirmed')
print(nyc['confirmed'].sum())
print('')

tx = us.loc[us['provinceState'] == 'Texas']
tx_total_confirmed = tx['confirmed'].sum()
print('Texas confirmed')
print(tx_total_confirmed)
print('')

co = us.loc[us['provinceState'] == 'Colorado']
co_total_confirmed = co['confirmed'].sum()
print('Colorado confirmed')
print(co_total_confirmed)
print('')

la = us.loc[us['provinceState'] == 'Louisiana']
la_total_confirmed = la['confirmed'].sum()
print('Louisiana confirmed')
print(la_total_confirmed)
print('')

il = us.loc[us['provinceState'] == 'Illinois']
il_total_confirmed = il['confirmed'].sum()
print('Illinois confirmed')
print(il_total_confirmed)
print('')

# create a dataframe of all comfirmed cases
global_confirmed = pd.DataFrame.from_dict(confirmed.json())

ph = global_confirmed.loc[global_confirmed['countryRegion'] == 'Philippines']
ph_total_confirmed = ph['confirmed'].sum()
print('Philippines confirmed')
print(ph_total_confirmed)
print('')

US confirmed
156931

New York State confirmed
66502

New York City confirmed
36221

Texas confirmed
2969

Colorado confirmed
2316

Louisiana confirmed
4015

Illinois confirmed
4601

Philippines confirmed
1546

In [5]:
# show api endpoints
api.json()

{'confirmed': {'detail': 'https://covid19.mathdro.id/api/confirmed',
  'value': 770653},
 'countries': 'https://covid19.mathdro.id/api/countries',
 'countryDetail': {'example': 'https://covid19.mathdro.id/api/countries/USA',
  'pattern': 'https://covid19.mathdro.id/api/countries/[country]'},
 'dailySummary': 'https://covid19.mathdro.id/api/daily',
 'dailyTimeSeries': {'example': 'https://covid19.mathdro.id/api/daily/2-14-2020',
  'pattern': 'https://covid19.mathdro.id/api/daily/[dateString]'},
 'deaths': {'detail': 'https://covid19.mathdro.id/api/deaths', 'value': 36946},
 'image': 'https://covid19.mathdro.id/api/og',
 'lastUpdate': '2020-03-30T19:11:53.000Z',
 'recovered': {'detail': 'https://covid19.mathdro.id/api/recovered',
  'value': 160130},
 'source': 'https://github.com/mathdroid/covid19'}

In [0]:
# get date
today = datetime.today()
yesterday = today - timedelta(days=1)
date = yesterday.strftime('%m-%d-%Y').lstrip('0').replace(' 0', '')

In [7]:
# Get yesterday's data
r = request.get('https://covid19.mathdro.id/api/daily/{}'.format(date))
print(r)
j = r.json()
df = pd.DataFrame.from_dict(j)
df

<Response [200]>

       fips     admin2  ... active                    combinedKey
0     45001  Abbeville  ...      0  Abbeville, South Carolina, US
1     22001     Acadia  ...      0          Acadia, Louisiana, US
2     51001   Accomack  ...      0         Accomack, Virginia, US
3     16001        Ada  ...      0                 Ada, Idaho, US
4     19001      Adair  ...      0                Adair, Iowa, US
...     ...        ...  ...    ...                            ...
3429                    ...     78                      Venezuela
3430                    ...    163                        Vietnam
3431                    ...     90             West Bank and Gaza
3432                    ...     29                         Zambia
3433                    ...      6                       Zimbabwe

[3434 rows x 12 columns]

In [8]:
# get all US confirmed cases
us = pd.DataFrame.from_dict(us_confirmed.json())
us

       provinceState countryRegion  ...  incidentRate  peopleTested
0           New York            US  ...          None          None
1           New York            US  ...          None          None
2           New York            US  ...          None          None
3           New York            US  ...          None          None
4           New York            US  ...          None          None
...              ...           ...  ...           ...           ...
2015            Ohio            US  ...          None          None
2016        Virginia            US  ...          None          None
2017  North Carolina            US  ...          None          None
2018        Nebraska            US  ...          None          None
2019           Texas            US  ...          None          None

[2020 rows x 14 columns]

In [9]:
# return only New York state
ny = us.loc[us['provinceState'] == 'New York']
ny

     provinceState countryRegion  ...  incidentRate  peopleTested
0         New York            US  ...          None          None
1         New York            US  ...          None          None
2         New York            US  ...          None          None
3         New York            US  ...          None          None
4         New York            US  ...          None          None
9         New York            US  ...          None          None
16        New York            US  ...          None          None
49        New York            US  ...          None          None
62        New York            US  ...          None          None
81        New York            US  ...          None          None
93        New York            US  ...          None          None
98        New York            US  ...          None          None
103       New York            US  ...          None          None
137       New York            US  ...          None          None
166       New York            US  ...          None          None
195       New York            US  ...          None          None
216       New York            US  ...          None          None
226       New York            US  ...          None          None
269       New York            US  ...          None          None
305       New York            US  ...          None          None
323       New York            US  ...          None          None
355       New York            US  ...          None          None
381       New York            US  ...          None          None
411       New York            US  ...          None          None
501       New York            US  ...          None          None
508       New York            US  ...          None          None
516       New York            US  ...          None          None
555       New York            US  ...          None          None
568       New York            US  ...          None          None
569       New York            US  ...          None          None
579       New York            US  ...          None          None
590       New York            US  ...          None          None
606       New York            US  ...          None          None
626       New York            US  ...          None          None
662       New York            US  ...          None          None
698       New York            US  ...          None          None
713       New York            US  ...          None          None
730       New York            US  ...          None          None
742       New York            US  ...          None          None
770       New York            US  ...          None          None
807       New York            US  ...          None          None
812       New York            US  ...          None          None
840       New York            US  ...          None          None
843       New York            US  ...          None          None
849       New York            US  ...          None          None
864       New York            US  ...          None          None
900       New York            US  ...          None          None
910       New York            US  ...          None          None
955       New York            US  ...          None          None
976       New York            US  ...          None          None
1014      New York            US  ...          None          None
1043      New York            US  ...          None          None
1279      New York            US  ...          None          None
1359      New York            US  ...          None          None
1394      New York            US  ...          None          None
1718      New York            US  ...          None          None
1932      New York            US  ...          None          None

[57 rows x 14 columns]

In [10]:
ny_total_confirmed = ny['confirmed'].sum()
ny_total_confirmed

66502

In [11]:
# return only New York City
nyc = ny.loc[ny['admin2'] == 'New York City']
nyc

  provinceState countryRegion  ...  incidentRate  peopleTested
0      New York            US  ...          None          None

[1 rows x 14 columns]

In [12]:
# show all Philippines confirmed
# ph = pd.DataFrame.from_dict(ph_confirmed.json())
ph = global_confirmed.loc[global_confirmed['countryRegion'] == 'Philippines']
ph

   provinceState countryRegion     lastUpdate  ...  peopleTested  iso2  iso3
47          None   Philippines  1585595147000  ...          None    PH   PHL

[1 rows x 16 columns]