<a href="https://colab.research.google.com/github/mimiflynn/covid-data/blob/master/covid_jhu_csse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# !apt-get -qq install python-cartopy python3-cartopy

In [0]:
# import cartopy.crs as ccrs
from datetime import datetime
from datetime import timedelta
import matplotlib.pyplot as plt
import requests as request
import pandas as pd
import numpy as np

In [0]:
# run all requests for summary
api = request.get('https://covid19.mathdro.id/api')
confirmed = request.get('https://covid19.mathdro.id/api/confirmed')
us_confirmed = request.get('https://covid19.mathdro.id/api/countries/USA/confirmed')
ph_confirmed = request.get('https://covid19.mathdro.id/api/countries/Philippines/confirmed')

In [4]:
today = datetime.today()
print('Last run at:')
print(today)

Last run at:
2020-04-14 13:10:12.113634

In [5]:
# quick summary
us = pd.DataFrame.from_dict(us_confirmed.json())
print('US confirmed')
print(us['confirmed'].sum())
print('')

ny = us.loc[us['provinceState'] == 'New York']
ny_total_confirmed = ny['confirmed'].sum()
print('New York State confirmed')
print(ny_total_confirmed)
print('')

nyc = ny.loc[ny['admin2'] == 'New York City']
print('New York City confirmed')
print(nyc['confirmed'].sum())
print('')

tx = us.loc[us['provinceState'] == 'Texas']
tx_total_confirmed = tx['confirmed'].sum()
print('Texas confirmed')
print(tx_total_confirmed)
print('')

co = us.loc[us['provinceState'] == 'Colorado']
co_total_confirmed = co['confirmed'].sum()
print('Colorado confirmed')
print(co_total_confirmed)
print('')

la = us.loc[us['provinceState'] == 'Louisiana']
la_total_confirmed = la['confirmed'].sum()
print('Louisiana confirmed')
print(la_total_confirmed)
print('')

il = us.loc[us['provinceState'] == 'Illinois']
il_total_confirmed = il['confirmed'].sum()
print('Illinois confirmed')
print(il_total_confirmed)
print('')

# create a dataframe of all comfirmed cases
global_confirmed = pd.DataFrame.from_dict(confirmed.json())

ph = global_confirmed.loc[global_confirmed['countryRegion'] == 'Philippines']
ph_total_confirmed = ph['confirmed'].sum()
print('Philippines confirmed')
print(ph_total_confirmed)
print('')

US confirmed
582594

New York State confirmed
196146

New York City confirmed
106763

Texas confirmed
14505

Colorado confirmed
7696

Louisiana confirmed
21016

Illinois confirmed
22025

Philippines confirmed
5223

In [6]:
ny

     provinceState countryRegion  ...         uid  iso3
0         New York            US  ...  84036061.0   USA
1         New York            US  ...  84036059.0   USA
2         New York            US  ...  84036103.0   USA
3         New York            US  ...  84036119.0   USA
8         New York            US  ...  84036087.0   USA
19        New York            US  ...  84036071.0   USA
43        New York            US  ...  84036027.0   USA
56        New York            US  ...  84036029.0   USA
101       New York            US  ...  84036055.0   USA
113       New York            US  ...  84036111.0   USA
136       New York            US  ...  84036067.0   USA
139       New York            US  ...  84036079.0   USA
143       New York            US  ...  84036001.0   USA
176       New York            US  ...  84036105.0   USA
277       New York            US  ...  84036065.0   USA
280       New York            US  ...  84036093.0   USA
285       New York            US  ...  84036091.0   USA
295       New York            US  ...  84036063.0   USA
351       New York            US  ...  84036101.0   USA
370       New York            US  ...  84036007.0   USA
416       New York            US  ...  84036109.0   USA
419       New York            US  ...  84036083.0   USA
424       New York            US  ...  84036053.0   USA
471       New York            US  ...  84036021.0   USA
483       New York            US  ...  84036089.0   USA
564       New York            US  ...  84036037.0   USA
595       New York            US  ...  84036017.0   USA
617       New York            US  ...  84036015.0   USA
637       New York            US  ...  84036069.0   USA
691       New York            US  ...  84036113.0   USA
704       New York            US  ...  84036045.0   USA
717       New York            US  ...  84036039.0   USA
726       New York            US  ...  84036019.0   USA
731       New York            US  ...  84036077.0   USA
744       New York            US  ...  84036117.0   USA
745       New York            US  ...  84036025.0   USA
747       New York            US  ...  84036075.0   USA
792       New York            US  ...  84036043.0   USA
815       New York            US  ...  84036115.0   USA
847       New York            US  ...  84036051.0   USA
877       New York            US  ...  84036011.0   USA
879       New York            US  ...  84036121.0   USA
901       New York            US  ...  84036057.0   USA
916       New York            US  ...  84036009.0   USA
958       New York            US  ...  84036003.0   USA
961       New York            US  ...  84036073.0   USA
1005      New York            US  ...  84036013.0   USA
1029      New York            US  ...  84036107.0   USA
1059      New York            US  ...  84036023.0   USA
1066      New York            US  ...  84036035.0   USA
1220      New York            US  ...  84036099.0   USA
1363      New York            US  ...  84036031.0   USA
1366      New York            US  ...  84036033.0   USA
1392      New York            US  ...  84036095.0   USA
1622      New York            US  ...  84036097.0   USA
1761      New York            US  ...  84036049.0   USA
2046      New York            US  ...  84036123.0   USA
2106      New York            US  ...  84036041.0   USA

[58 rows x 17 columns]

In [7]:
# show api endpoints
api.json()

{'confirmed': {'detail': 'https://covid19.mathdro.id/api/confirmed',
  'value': 1934583},
 'countries': 'https://covid19.mathdro.id/api/countries',
 'countryDetail': {'example': 'https://covid19.mathdro.id/api/countries/USA',
  'pattern': 'https://covid19.mathdro.id/api/countries/[country]'},
 'dailySummary': 'https://covid19.mathdro.id/api/daily',
 'dailyTimeSeries': {'example': 'https://covid19.mathdro.id/api/daily/2-14-2020',
  'pattern': 'https://covid19.mathdro.id/api/daily/[dateString]'},
 'deaths': {'detail': 'https://covid19.mathdro.id/api/deaths',
  'value': 120863},
 'image': 'https://covid19.mathdro.id/api/og',
 'lastUpdate': '2020-04-14T12:21:03.000Z',
 'recovered': {'detail': 'https://covid19.mathdro.id/api/recovered',
  'value': 464398},
 'source': 'https://github.com/mathdroid/covid19'}

In [0]:
# get date
yesterday = today - timedelta(days=1)
date = yesterday.strftime('%m-%d-%Y').lstrip('0').replace(' 0', '')

In [9]:
# Get yesterday's data
r = request.get('https://covid19.mathdro.id/api/daily/{}'.format(date))
print(r)
j = r.json()
df = pd.DataFrame.from_dict(j)
df

<Response [200]>

       fips     admin2  ... active                    combinedKey
0     45001  Abbeville  ...      9  Abbeville, South Carolina, US
1     22001     Acadia  ...     96          Acadia, Louisiana, US
2     51001   Accomack  ...     15         Accomack, Virginia, US
3     16001        Ada  ...    511                 Ada, Idaho, US
4     19001      Adair  ...      1                Adair, Iowa, US
...     ...        ...  ...    ...                            ...
2997                    ...    248             West Bank and Gaza
2998                    ...      6                 Western Sahara
2999                    ...      1                          Yemen
3000                    ...     13                         Zambia
3001                    ...     14                       Zimbabwe

[3002 rows x 12 columns]

In [10]:
# get all US confirmed cases
us = pd.DataFrame.from_dict(us_confirmed.json())
us

      provinceState countryRegion  ...         uid  iso3
0          New York            US  ...  84036061.0   USA
1          New York            US  ...  84036059.0   USA
2          New York            US  ...  84036103.0   USA
3          New York            US  ...  84036119.0   USA
4          Illinois            US  ...  84017031.0   USA
...             ...           ...  ...         ...   ...
2689       Missouri            US  ...  84029227.0   USA
2690           Iowa            US  ...  84019197.0   USA
2691  West Virginia            US  ...  84054109.0   USA
2692       Arkansas            US  ...  84005149.0   USA
2693         Alaska            US  ...  84002290.0   USA

[2694 rows x 17 columns]

In [11]:
# return only New York state
ny = us.loc[us['provinceState'] == 'New York']
ny

     provinceState countryRegion  ...         uid  iso3
0         New York            US  ...  84036061.0   USA
1         New York            US  ...  84036059.0   USA
2         New York            US  ...  84036103.0   USA
3         New York            US  ...  84036119.0   USA
8         New York            US  ...  84036087.0   USA
19        New York            US  ...  84036071.0   USA
43        New York            US  ...  84036027.0   USA
56        New York            US  ...  84036029.0   USA
101       New York            US  ...  84036055.0   USA
113       New York            US  ...  84036111.0   USA
136       New York            US  ...  84036067.0   USA
139       New York            US  ...  84036079.0   USA
143       New York            US  ...  84036001.0   USA
176       New York            US  ...  84036105.0   USA
277       New York            US  ...  84036065.0   USA
280       New York            US  ...  84036093.0   USA
285       New York            US  ...  84036091.0   USA
295       New York            US  ...  84036063.0   USA
351       New York            US  ...  84036101.0   USA
370       New York            US  ...  84036007.0   USA
416       New York            US  ...  84036109.0   USA
419       New York            US  ...  84036083.0   USA
424       New York            US  ...  84036053.0   USA
471       New York            US  ...  84036021.0   USA
483       New York            US  ...  84036089.0   USA
564       New York            US  ...  84036037.0   USA
595       New York            US  ...  84036017.0   USA
617       New York            US  ...  84036015.0   USA
637       New York            US  ...  84036069.0   USA
691       New York            US  ...  84036113.0   USA
704       New York            US  ...  84036045.0   USA
717       New York            US  ...  84036039.0   USA
726       New York            US  ...  84036019.0   USA
731       New York            US  ...  84036077.0   USA
744       New York            US  ...  84036117.0   USA
745       New York            US  ...  84036025.0   USA
747       New York            US  ...  84036075.0   USA
792       New York            US  ...  84036043.0   USA
815       New York            US  ...  84036115.0   USA
847       New York            US  ...  84036051.0   USA
877       New York            US  ...  84036011.0   USA
879       New York            US  ...  84036121.0   USA
901       New York            US  ...  84036057.0   USA
916       New York            US  ...  84036009.0   USA
958       New York            US  ...  84036003.0   USA
961       New York            US  ...  84036073.0   USA
1005      New York            US  ...  84036013.0   USA
1029      New York            US  ...  84036107.0   USA
1059      New York            US  ...  84036023.0   USA
1066      New York            US  ...  84036035.0   USA
1220      New York            US  ...  84036099.0   USA
1363      New York            US  ...  84036031.0   USA
1366      New York            US  ...  84036033.0   USA
1392      New York            US  ...  84036095.0   USA
1622      New York            US  ...  84036097.0   USA
1761      New York            US  ...  84036049.0   USA
2046      New York            US  ...  84036123.0   USA
2106      New York            US  ...  84036041.0   USA

[58 rows x 17 columns]

In [12]:
ny_total_confirmed = ny['confirmed'].sum()
ny_total_confirmed

196146

In [13]:
# return only New York City
nyc = ny.loc[ny['admin2'] == 'New York City']
nyc

  provinceState countryRegion  ...         uid  iso3
0      New York            US  ...  84036061.0   USA

[1 rows x 17 columns]

In [14]:
# show all Philippines confirmed
# ph = pd.DataFrame.from_dict(ph_confirmed.json())
ph = global_confirmed.loc[global_confirmed['countryRegion'] == 'Philippines']
ph

   provinceState countryRegion     lastUpdate  ...    uid  iso3  iso2
53          None   Philippines  1586866381000  ...  608.0   PHL    PH

[1 rows x 18 columns]