<a href="https://colab.research.google.com/github/mimiflynn/covid-data/blob/master/covid_jhu_csse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# !apt-get -qq install python-cartopy python3-cartopy

In [0]:
# import cartopy.crs as ccrs
from datetime import datetime
from datetime import timedelta
import matplotlib.pyplot as plt
import requests as request
import pandas as pd
import numpy as np

In [0]:
# run all requests for summary
api = request.get('https://covid19.mathdro.id/api')
confirmed = request.get('https://covid19.mathdro.id/api/confirmed')
deaths = request.get('https://covid19.mathdro.id/api/deaths')
us_confirmed = request.get('https://covid19.mathdro.id/api/countries/USA/confirmed')
ph_confirmed = request.get('https://covid19.mathdro.id/api/countries/Philippines/confirmed')

In [4]:
today = datetime.today()
print('Last run at:')
print(today)

Last run at:
2020-04-27 13:59:06.634086

In [5]:
# quick summary
us = pd.DataFrame.from_dict(us_confirmed.json())
print('US Confirmed')
print(us['confirmed'].sum())
print('US Deaths')
print(us['deaths'].sum())
print('')

ny = us.loc[us['provinceState'] == 'New York']
print('New York State Confirmed')
print(ny['confirmed'].sum())
print('New York State Deaths')
print(ny['deaths'].sum())
print('')

nyc = ny.loc[ny['admin2'] == 'New York City']
print('New York City confirmed')
print(nyc['confirmed'].sum())
print('New York City Deaths')
print(nyc['deaths'].sum())
print('')

tx = us.loc[us['provinceState'] == 'Texas']
print('Texas Confirmed')
print(tx['confirmed'].sum())
print('Texas Deaths')
print(tx['deaths'].sum())
print('')

co = us.loc[us['provinceState'] == 'Colorado']
print('Colorado Confirmed')
print(co['confirmed'].sum())
print('Colorado Deaths')
print(co['deaths'].sum())
print('')

la = us.loc[us['provinceState'] == 'Louisiana']
print('Louisiana Confirmed')
print(la['confirmed'].sum())
print('Louisiana Deaths')
print(la['deaths'].sum())
print('')

il = us.loc[us['provinceState'] == 'Illinois']
print('Illinois Confirmed')
print(il['confirmed'].sum())
print('Illinois Deaths')
print(il['deaths'].sum())
print('')

# create a dataframe of all comfirmed cases
global_confirmed = pd.DataFrame.from_dict(confirmed.json())

ph = global_confirmed.loc[global_confirmed['countryRegion'] == 'Philippines']
print('Philippines Confirmed')
print(ph['confirmed'].sum())
print('Philippines Deaths')
print(ph['deaths'].sum())
print('')

US Confirmed
965933
US Deaths
54718

New York State Confirmed
288045
New York State Deaths
22269

New York City confirmed
158258
New York City Deaths
17280

Texas Confirmed
24968
Texas Deaths
651

Colorado Confirmed
13441
Colorado Deaths
685

Louisiana Confirmed
26773
Louisiana Deaths
1729

Illinois Confirmed
43903
Illinois Deaths
1933

Philippines Confirmed
7777
Philippines Deaths
511

In [6]:
ny

     provinceState countryRegion  ...       uid  iso3
0         New York            US  ...  84036061   USA
1         New York            US  ...  84036059   USA
2         New York            US  ...  84036103   USA
4         New York            US  ...  84036119   USA
15        New York            US  ...  84036087   USA
19        New York            US  ...  84036071   USA
53        New York            US  ...  84036029   USA
57        New York            US  ...  84036027   USA
108       New York            US  ...  84036055   USA
113       New York            US  ...  84036111   USA
136       New York            US  ...  84036001   USA
139       New York            US  ...  84036079   USA
164       New York            US  ...  84036105   USA
171       New York            US  ...  84036067   USA
240       New York            US  ...  84036093   USA
274       New York            US  ...  84036065   USA
282       New York            US  ...  84036063   USA
304       New York            US  ...  84036091   USA
364       New York            US  ...  84036007   USA
380       New York            US  ...  84036083   USA
419       New York            US  ...  84036101   USA
475       New York            US  ...  84036089   USA
529       New York            US  ...  84036037   USA
534       New York            US  ...  84036021   USA
552       New York            US  ...  84036113   USA
576       New York            US  ...  84036115   USA
578       New York            US  ...  84036109   USA
586       New York            US  ...  84036053   USA
624       New York            US  ...  84036039   USA
636       New York            US  ...  84036015   USA
683       New York            US  ...  84036017   USA
728       New York            US  ...  84036069   USA
746       New York            US  ...  84036073   USA
799       New York            US  ...  84036107   USA
825       New York            US  ...  84036117   USA
845       New York            US  ...  84036035   USA
856       New York            US  ...  84036075   USA
860       New York            US  ...  84036045   USA
861       New York            US  ...  84036051   USA
862       New York            US  ...  84036077   USA
875       New York            US  ...  84036121   USA
883       New York            US  ...  84036025   USA
890       New York            US  ...  84036019   USA
892       New York            US  ...  84036043   USA
975       New York            US  ...  84036057   USA
980       New York            US  ...  84036011   USA
1001      New York            US  ...  84036009   USA
1091      New York            US  ...  84036099   USA
1125      New York            US  ...  84036003   USA
1136      New York            US  ...  84036095   USA
1218      New York            US  ...  84036013   USA
1247      New York            US  ...  84036023   USA
1337      New York            US  ...  84036031   USA
1525      New York            US  ...  84036123   USA
1617      New York            US  ...  84036033   USA
1867      New York            US  ...  84036049   USA
2013      New York            US  ...  84036097   USA
2362      New York            US  ...  84036041   USA

[58 rows x 17 columns]

In [7]:
# show api endpoints
api.json()

{'confirmed': {'detail': 'https://covid19.mathdro.id/api/confirmed',
  'value': 2989090},
 'countries': 'https://covid19.mathdro.id/api/countries',
 'countryDetail': {'example': 'https://covid19.mathdro.id/api/countries/USA',
  'pattern': 'https://covid19.mathdro.id/api/countries/[country]'},
 'dailySummary': 'https://covid19.mathdro.id/api/daily',
 'dailyTimeSeries': {'example': 'https://covid19.mathdro.id/api/daily/2-14-2020',
  'pattern': 'https://covid19.mathdro.id/api/daily/[dateString]'},
 'deaths': {'detail': 'https://covid19.mathdro.id/api/deaths',
  'value': 207446},
 'image': 'https://covid19.mathdro.id/api/og',
 'lastUpdate': '2020-04-27T13:31:19.000Z',
 'recovered': {'detail': 'https://covid19.mathdro.id/api/recovered',
  'value': 875497},
 'source': 'https://github.com/mathdroid/covid19'}

In [0]:
# get date
yesterday = today - timedelta(days=1)
date = yesterday.strftime('%m-%d-%Y').lstrip('0').replace(' 0', '')

In [9]:
# Get yesterday's data
r = request.get('https://covid19.mathdro.id/api/daily/{}'.format(date))
print(r)
j = r.json()
df = pd.DataFrame.from_dict(j)
df

<Response [200]>

       fips     admin2  ... active                    combinedKey
0     45001  Abbeville  ...     27  Abbeville, South Carolina, US
1     22001     Acadia  ...    123          Acadia, Louisiana, US
2     51001   Accomack  ...    184         Accomack, Virginia, US
3     16001        Ada  ...    635                 Ada, Idaho, US
4     19001      Adair  ...      1                Adair, Iowa, US
...     ...        ...  ...    ...                            ...
3137                    ...     98          Queensland, Australia
3138                    ...     23     South Australia, Australia
3139                    ...     78            Tasmania, Australia
3140                    ...     67            Victoria, Australia
3141                    ...     55   Western Australia, Australia

[3142 rows x 12 columns]

In [10]:
# get all US confirmed cases
us = pd.DataFrame.from_dict(us_confirmed.json())
us

      provinceState countryRegion  ...       uid  iso3
0          New York            US  ...  84036061   USA
1          New York            US  ...  84036059   USA
2          New York            US  ...  84036103   USA
3          Illinois            US  ...  84017031   USA
4          New York            US  ...  84036119   USA
...             ...           ...  ...       ...   ...
2816       Missouri            US  ...  84029227   USA
2817  West Virginia            US  ...  84054109   USA
2818          Texas            US  ...  84048501   USA
2819         Alaska            US  ...  84002290   USA
2820          Texas            US  ...  84048507   USA

[2821 rows x 17 columns]

In [11]:
# return only New York state
ny = us.loc[us['provinceState'] == 'New York']
ny

     provinceState countryRegion  ...       uid  iso3
0         New York            US  ...  84036061   USA
1         New York            US  ...  84036059   USA
2         New York            US  ...  84036103   USA
4         New York            US  ...  84036119   USA
15        New York            US  ...  84036087   USA
19        New York            US  ...  84036071   USA
53        New York            US  ...  84036029   USA
57        New York            US  ...  84036027   USA
108       New York            US  ...  84036055   USA
113       New York            US  ...  84036111   USA
136       New York            US  ...  84036001   USA
139       New York            US  ...  84036079   USA
164       New York            US  ...  84036105   USA
171       New York            US  ...  84036067   USA
240       New York            US  ...  84036093   USA
274       New York            US  ...  84036065   USA
282       New York            US  ...  84036063   USA
304       New York            US  ...  84036091   USA
364       New York            US  ...  84036007   USA
380       New York            US  ...  84036083   USA
419       New York            US  ...  84036101   USA
475       New York            US  ...  84036089   USA
529       New York            US  ...  84036037   USA
534       New York            US  ...  84036021   USA
552       New York            US  ...  84036113   USA
576       New York            US  ...  84036115   USA
578       New York            US  ...  84036109   USA
586       New York            US  ...  84036053   USA
624       New York            US  ...  84036039   USA
636       New York            US  ...  84036015   USA
683       New York            US  ...  84036017   USA
728       New York            US  ...  84036069   USA
746       New York            US  ...  84036073   USA
799       New York            US  ...  84036107   USA
825       New York            US  ...  84036117   USA
845       New York            US  ...  84036035   USA
856       New York            US  ...  84036075   USA
860       New York            US  ...  84036045   USA
861       New York            US  ...  84036051   USA
862       New York            US  ...  84036077   USA
875       New York            US  ...  84036121   USA
883       New York            US  ...  84036025   USA
890       New York            US  ...  84036019   USA
892       New York            US  ...  84036043   USA
975       New York            US  ...  84036057   USA
980       New York            US  ...  84036011   USA
1001      New York            US  ...  84036009   USA
1091      New York            US  ...  84036099   USA
1125      New York            US  ...  84036003   USA
1136      New York            US  ...  84036095   USA
1218      New York            US  ...  84036013   USA
1247      New York            US  ...  84036023   USA
1337      New York            US  ...  84036031   USA
1525      New York            US  ...  84036123   USA
1617      New York            US  ...  84036033   USA
1867      New York            US  ...  84036049   USA
2013      New York            US  ...  84036097   USA
2362      New York            US  ...  84036041   USA

[58 rows x 17 columns]

In [12]:
ny_total_confirmed = ny['confirmed'].sum()
ny_total_confirmed

288045

In [13]:
# return only New York City
nyc = ny.loc[ny['admin2'] == 'New York City']
nyc

  provinceState countryRegion     lastUpdate  ...  peopleHospitalized       uid  iso3
0      New York            US  1587990651000  ...                None  84036061   USA

[1 rows x 17 columns]

In [14]:
# show all Philippines confirmed
# ph = pd.DataFrame.from_dict(ph_confirmed.json())
ph = global_confirmed.loc[global_confirmed['countryRegion'] == 'Philippines']
ph

   provinceState countryRegion     lastUpdate  ...  uid  iso3  iso2
58          None   Philippines  1587994232000  ...  608   PHL    PH

[1 rows x 18 columns]