<a href="https://colab.research.google.com/github/mimiflynn/covid-data/blob/master/covid_jhu_csse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# !apt-get -qq install python-cartopy python3-cartopy

In [0]:
# import cartopy.crs as ccrs
from datetime import datetime
from datetime import timedelta
import matplotlib.pyplot as plt
import requests as request
import pandas as pd
import numpy as np

In [0]:
# run all requests for summary
api = request.get('https://covid19.mathdro.id/api')
confirmed = request.get('https://covid19.mathdro.id/api/confirmed')
us_confirmed = request.get('https://covid19.mathdro.id/api/countries/USA/confirmed')
ph_confirmed = request.get('https://covid19.mathdro.id/api/countries/Philippines/confirmed')

In [16]:
today = datetime.today()
print('Last run at:')
print(today)

Last run at:
2020-04-06 15:51:53.909031

In [17]:
# quick summary
us = pd.DataFrame.from_dict(us_confirmed.json())
print('US confirmed')
print(us['confirmed'].sum())
print('')

ny = us.loc[us['provinceState'] == 'New York']
ny_total_confirmed = ny['confirmed'].sum()
print('New York State confirmed')
print(ny_total_confirmed)
print('')

nyc = ny.loc[ny['admin2'] == 'New York City']
print('New York City confirmed')
print(nyc['confirmed'].sum())
print('')

tx = us.loc[us['provinceState'] == 'Texas']
tx_total_confirmed = tx['confirmed'].sum()
print('Texas confirmed')
print(tx_total_confirmed)
print('')

co = us.loc[us['provinceState'] == 'Colorado']
co_total_confirmed = co['confirmed'].sum()
print('Colorado confirmed')
print(co_total_confirmed)
print('')

la = us.loc[us['provinceState'] == 'Louisiana']
la_total_confirmed = la['confirmed'].sum()
print('Louisiana confirmed')
print(la_total_confirmed)
print('')

il = us.loc[us['provinceState'] == 'Illinois']
il_total_confirmed = il['confirmed'].sum()
print('Illinois confirmed')
print(il_total_confirmed)
print('')

# create a dataframe of all comfirmed cases
global_confirmed = pd.DataFrame.from_dict(confirmed.json())

ph = global_confirmed.loc[global_confirmed['countryRegion'] == 'Philippines']
ph_total_confirmed = ph['confirmed'].sum()
print('Philippines confirmed')
print(ph_total_confirmed)
print('')

US confirmed
337971

New York State confirmed
123160

New York City confirmed
67551

Texas confirmed
7318

Colorado confirmed
4950

Louisiana confirmed
12998

Illinois confirmed
11260

Philippines confirmed
3660

In [18]:
# show api endpoints
api.json()

{'confirmed': {'detail': 'https://covid19.mathdro.id/api/confirmed',
  'value': 1289380},
 'countries': 'https://covid19.mathdro.id/api/countries',
 'countryDetail': {'example': 'https://covid19.mathdro.id/api/countries/USA',
  'pattern': 'https://covid19.mathdro.id/api/countries/[country]'},
 'dailySummary': 'https://covid19.mathdro.id/api/daily',
 'dailyTimeSeries': {'example': 'https://covid19.mathdro.id/api/daily/2-14-2020',
  'pattern': 'https://covid19.mathdro.id/api/daily/[dateString]'},
 'deaths': {'detail': 'https://covid19.mathdro.id/api/deaths', 'value': 70590},
 'image': 'https://covid19.mathdro.id/api/og',
 'lastUpdate': '2020-04-06T13:22:48.000Z',
 'recovered': {'detail': 'https://covid19.mathdro.id/api/recovered',
  'value': 270372},
 'source': 'https://github.com/mathdroid/covid19'}

In [0]:
# get date
yesterday = today - timedelta(days=1)
date = yesterday.strftime('%m-%d-%Y').lstrip('0').replace(' 0', '')

In [20]:
# Get yesterday's data
r = request.get('https://covid19.mathdro.id/api/daily/{}'.format(date))
print(r)
j = r.json()
df = pd.DataFrame.from_dict(j)
df

<Response [200]>

       fips      admin2  ... active                    combinedKey
0     45001   Abbeville  ...      0  Abbeville, South Carolina, US
1     22001      Acadia  ...      0          Acadia, Louisiana, US
2     51001    Accomack  ...      0         Accomack, Virginia, US
3     16001         Ada  ...      0                 Ada, Idaho, US
4     19001       Adair  ...      0                Adair, Iowa, US
...     ...         ...  ...    ...                            ...
2759                     ...    211             West Bank and Gaza
2760                     ...      4               ,,Western Sahara
2761                     ...     35                         Zambia
2762                     ...      8                       Zimbabwe
2763         unassigned  ...      0        unassigned, Wyoming, US

[2764 rows x 12 columns]

In [21]:
# get all US confirmed cases
us = pd.DataFrame.from_dict(us_confirmed.json())
us

     provinceState countryRegion  ...  incidentRate  peopleTested
0         New York            US  ...          None          None
1         New York            US  ...          None          None
2         New York            US  ...          None          None
3         New York            US  ...          None          None
4         Illinois            US  ...          None          None
...            ...           ...  ...           ...           ...
2445      New York            US  ...          None          None
2446      Arkansas            US  ...          None          None
2447     Minnesota            US  ...          None          None
2448      Nebraska            US  ...          None          None
2449        Alaska            US  ...          None          None

[2450 rows x 14 columns]

In [22]:
# return only New York state
ny = us.loc[us['provinceState'] == 'New York']
ny

     provinceState countryRegion  ...  incidentRate  peopleTested
0         New York            US  ...          None          None
1         New York            US  ...          None          None
2         New York            US  ...          None          None
3         New York            US  ...          None          None
8         New York            US  ...          None          None
17        New York            US  ...          None          None
43        New York            US  ...          None          None
44        New York            US  ...          None          None
90        New York            US  ...          None          None
119       New York            US  ...          None          None
122       New York            US  ...          None          None
134       New York            US  ...          None          None
136       New York            US  ...          None          None
193       New York            US  ...          None          None
236       New York            US  ...          None          None
262       New York            US  ...          None          None
278       New York            US  ...          None          None
315       New York            US  ...          None          None
318       New York            US  ...          None          None
333       New York            US  ...          None          None
374       New York            US  ...          None          None
375       New York            US  ...          None          None
384       New York            US  ...          None          None
391       New York            US  ...          None          None
418       New York            US  ...          None          None
520       New York            US  ...          None          None
558       New York            US  ...          None          None
596       New York            US  ...          None          None
609       New York            US  ...          None          None
610       New York            US  ...          None          None
611       New York            US  ...          None          None
650       New York            US  ...          None          None
665       New York            US  ...          None          None
684       New York            US  ...          None          None
690       New York            US  ...          None          None
706       New York            US  ...          None          None
711       New York            US  ...          None          None
737       New York            US  ...          None          None
746       New York            US  ...          None          None
751       New York            US  ...          None          None
819       New York            US  ...          None          None
840       New York            US  ...          None          None
890       New York            US  ...          None          None
904       New York            US  ...          None          None
944       New York            US  ...          None          None
1066      New York            US  ...          None          None
1071      New York            US  ...          None          None
1091      New York            US  ...          None          None
1101      New York            US  ...          None          None
1156      New York            US  ...          None          None
1158      New York            US  ...          None          None
1188      New York            US  ...          None          None
1204      New York            US  ...          None          None
1238      New York            US  ...          None          None
1649      New York            US  ...          None          None
1760      New York            US  ...          None          None
1938      New York            US  ...          None          None
2445      New York            US  ...          None          None

[58 rows x 14 columns]

In [23]:
ny_total_confirmed = ny['confirmed'].sum()
ny_total_confirmed

123160

In [24]:
# return only New York City
nyc = ny.loc[ny['admin2'] == 'New York City']
nyc

  provinceState countryRegion  ...  incidentRate  peopleTested
0      New York            US  ...          None          None

[1 rows x 14 columns]

In [25]:
# show all Philippines confirmed
# ph = pd.DataFrame.from_dict(ph_confirmed.json())
ph = global_confirmed.loc[global_confirmed['countryRegion'] == 'Philippines']
ph

   provinceState countryRegion     lastUpdate  ...  peopleTested  iso2  iso3
43          None   Philippines  1586178920000  ...          None    PH   PHL

[1 rows x 16 columns]