<a href="https://colab.research.google.com/github/mimiflynn/covid-jhu-csse/blob/master/covid_jhu_csse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# !apt-get -qq install python-cartopy python3-cartopy

In [0]:
# import cartopy.crs as ccrs
# import matplotlib.pyplot as plt
import requests as request
import pandas as pd
import numpy as np

In [0]:
# show api endpoints
r = request.get('https://covid19.mathdro.id/api')
r.json()

{'confirmed': {'detail': 'https://covid19.mathdro.id/api/confirmed',
  'value': 308127},
 'countries': 'https://covid19.mathdro.id/api/countries',
 'countryDetail': {'example': 'https://covid19.mathdro.id/api/countries/USA',
  'pattern': 'https://covid19.mathdro.id/api/countries/[country]'},
 'dailySummary': 'https://covid19.mathdro.id/api/daily',
 'dailyTimeSeries': {'example': 'https://covid19.mathdro.id/api/daily/2-14-2020',
  'pattern': 'https://covid19.mathdro.id/api/daily/[dateString]'},
 'deaths': {'detail': 'https://covid19.mathdro.id/api/deaths', 'value': 13049},
 'image': 'https://covid19.mathdro.id/api/og',
 'lastUpdate': '2020-03-22T09:43:06.000Z',
 'recovered': {'detail': 'https://covid19.mathdro.id/api/recovered',
  'value': 93788},
 'source': 'https://github.com/mathdroid/covid19'}

In [0]:
# get all confirmed cases
r = request.get('https://covid19.mathdro.id/api/confirmed')

j = r.json()

df = pd.DataFrame.from_dict(j)
df

    provinceState   countryRegion     lastUpdate  ...  combinedKey  iso2  iso3
0           Hubei           China  1584870186000  ...         None    CN   CHN
1            None           Italy  1584812583000  ...         None    IT   ITA
2            None           Spain  1584841382000  ...         None    ES   ESP
3            None         Germany  1584843193000  ...         None    DE   DEU
4            None            Iran  1584789192000  ...         None    IR   IRN
..            ...             ...            ...  ...          ...   ...   ...
286          None     Timor-Leste  1584841383000  ...         None   NaN   NaN
287          None          Uganda  1584841383000  ...         None    UG   UGA
288   Isle of Man  United Kingdom  1584717201000  ...         None    GB   GBR
289    Montserrat  United Kingdom  1584532384000  ...         None    GB   GBR
290            US              US  1584843203000  ...         None    US   USA

[291 rows x 14 columns]

In [0]:
# get all US confirmed cases
r = request.get('https://covid19.mathdro.id/api/countries/US/confirmed')

j = r.json()

us = pd.DataFrame.from_dict(j)
us

                   provinceState countryRegion  ...  iso2  iso3
0                       New York            US  ...    US   USA
1                     Washington            US  ...    US   USA
2                     California            US  ...    US   USA
3                     New Jersey            US  ...    US   USA
4                       Michigan            US  ...    US   USA
5                        Florida            US  ...    US   USA
6                      Louisiana            US  ...    US   USA
7                       Illinois            US  ...    US   USA
8                        Georgia            US  ...    US   USA
9                          Texas            US  ...    US   USA
10                 Massachusetts            US  ...    US   USA
11                      Colorado            US  ...    US   USA
12                  Pennsylvania            US  ...    US   USA
13                     Tennessee            US  ...    US   USA
14                     Wisconsin            US  ...    US   USA
15                North Carolina            US  ...    US   USA
16                          Ohio            US  ...    US   USA
17                   Connecticut            US  ...    US   USA
18                      Maryland            US  ...    US   USA
19                South Carolina            US  ...    US   USA
20                        Nevada            US  ...    US   USA
21                      Virginia            US  ...    US   USA
22                   Mississippi            US  ...    US   USA
23                     Minnesota            US  ...    US   USA
24                        Oregon            US  ...    US   USA
25                          Utah            US  ...    US   USA
26                       Alabama            US  ...    US   USA
27                       Indiana            US  ...    US   USA
28                      Arkansas            US  ...    US   USA
29                       Arizona            US  ...    US   USA
30          District of Columbia            US  ...    US   USA
31                      Kentucky            US  ...    US   USA
32                      Missouri            US  ...    US   USA
33                         Maine            US  ...    US   USA
34                          Iowa            US  ...    US   USA
35                  Rhode Island            US  ...    US   USA
36                 New Hampshire            US  ...    US   USA
37                        Kansas            US  ...    US   USA
38                    New Mexico            US  ...    US   USA
39                      Oklahoma            US  ...    US   USA
40              Diamond Princess            US  ...    US   USA
41                       Vermont            US  ...    US   USA
42                        Hawaii            US  ...    US   USA
43                      Delaware            US  ...    US   USA
44                         Idaho            US  ...    US   USA
45                      Nebraska            US  ...    US   USA
46                       Montana            US  ...    US   USA
47                  North Dakota            US  ...    US   USA
48                Grand Princess            US  ...    US   USA
49                       Wyoming            US  ...    US   USA
50                   Puerto Rico            US  ...    US   USA
51                          Guam            US  ...    US   USA
52                        Alaska            US  ...    US   USA
53                  South Dakota            US  ...    US   USA
54                 West Virginia            US  ...    US   USA
55  United States Virgin Islands            US  ...    US   USA
56                            US            US  ...    US   USA

[57 rows x 14 columns]

In [0]:
# make a map of confirmed
# ax = plt.axes(projection=ccrs.PlateCarree())
# ax.coastlines()

# plt.savefig('coastlines.pdf')
# plt.savefig('coastlines.png')

# plt.show()

In [0]:
# get all Philippines confirmed
r = request.get('https://covid19.mathdro.id/api/countries/Philippines/confirmed')

j = r.json()

ph = pd.DataFrame.from_dict(j)
ph

  provinceState countryRegion     lastUpdate  ...  combinedKey  iso2  iso3
0          None   Philippines  1584875600000  ...         None    PH   PHL

[1 rows x 14 columns]